[2017-12-05 16:53] matthewp opened #1 "Requires babel?"
Hello, cool project. I tried running this on one of my projects and encountered an error ` Unknown plugin "transform-es2015-modules-commonjs" specified in "base" at 0, attempted to resolve relative to "/Users/matthew/dev/my-project"`

I think it is looking up this plugin within my project, but I did not have this plugin (or any babel plugin) installed. This project uses ES import/export syntax. Is

[2017-12-05 17:07] robdodson opened #2 "Cannot read property 'posthtml' of undefined"
Following the tutorial on https://parceljs.org/ I get the following error when I run `parcel index.html`.

[code]

[2017-12-05 17:14] devongovett commented on #1
Ah thanks. Babel is used internally to compile es2015 imports to require statements. Probably need to resolve the module locally to parcel instead of the project here https://github.com/parcel-bundler/parcel/blob/master/src/transforms/babel.js#L18

[2017-12-05 17:28] devongovett commented on #2
Ah it's because there is no package.json in your project. I will fix.

[2017-12-05 17:45] trevor-atlas opened #3 "Feature Request: Typescript support"

[2017-12-05 17:57] trafnar commented on #2
I ran into the same thing while following the getting started page.

I recommend making more explicit instructions on that page. I've submitted a PR with my suggestion for doing that. https://github.com/parcel-bundler/website/pull/4

[2017-12-05 18:01] robdodson commented on #2
After adding a package.json I'm now hitting https://github.com/parcel-bundler/parcel/issues/1

Getting closer though! 😄

[2017-12-05 18:22] heyMP opened #4 "Cannot read property 'port' of null"
I installed parcel-bundler globally.  When I run `parcel index.html` I get the following error.

[code]

## Tested in the following environments with the same result:

### Mac
[code]

### Dockerfile:
[code]

[2017-12-05 18:23] jpsc opened #5 "Feature request: Vue components"
Using [vue-component-compiler](https://github.com/vuejs/vue-component-compiler).

[2017-12-05 18:24] devongovett commented on #2
Published v1.0.1 which should fix both issues.

[2017-12-05 18:24] devongovett commented on #4
hmm, could be a node v6 thing... seems to work for me on v8.

[2017-12-05 18:25] devongovett commented on #1
Published v1.0.1 which should fix this issue.

[2017-12-05 18:31] #1 closed

[2017-12-05 18:35] robdodson commented on #2
Just installed 1.0.1, now i'm getting: `Couldn't find preset "env" relative to directory "/Users/robdodson/.nvm/versions/node/v8.9.1/lib/node_modules/parcel-bundler/src"`

[2017-12-05 18:39] TheLarkInn commented on #4
@devongovett node 6 being current LTS, you'd probably want to at least add the minimum engines value for so that it's obvious for people that they can't use it. Just 2 cents :-D

[2017-12-05 18:41] alexeyraspopov opened #6 "Unable to import CSS file"
Steps to reproduce:

[code]

`index.html`
[code]

`index.js`
[code]

`main.css`
[code]

Output:
[code]

[2017-12-05 18:56] omouse opened #7 "Angular 2/4/5+ testing/support?"
Without TypeScript support would be cool (though the Angular team is working really hard to push TypeScript).

[2017-12-05 18:58] jpsc commented on #4
@TheLarkInn you mean 8 right?
@devongovett why you offer a babel-ed version of `Bunder` for 6? Why not only support 8 with only async ?

[2017-12-05 18:59] devongovett commented on #4
it should be supported, just a bug. Someone want to look into what the API difference is? :D

[2017-12-05 19:04] devongovett commented on #2
blargh. did you create a `.babelrc` but forget to install `babel-preset-env` in your project?

[2017-12-05 19:05] jaruesink commented on #2
Is that in the documentation somewhere?

[2017-12-05 19:15] azharkhan opened #8 "Unable to `build` index.html"
Firstly, super excited for this. I was surprised at how quickly I was able to get a dev environment setup. You are doing some awesome work.

I have `parcel-bundler`, `react` and `react-dom` installed.

I have a simple `index.html` file and an `index.js` file which is just outputting "Hello World" to a new div on the index.html file.

[code]

I have no problems running `parcel index.html` or `parce

[2017-12-05 19:17] jaredpalmer commented on #8
Just got the same error, babel-preset-react-app, react, react-dom

[2017-12-05 19:18] azharkhan commented on #8
FWIW: I tried installing `babel-preset-env`, `babel-preset-react` and added `.babelrc` file, but no luck there either

[2017-12-05 19:32] jsonnull opened #9 "Publish benchmarks app"
I'd love for the app the README benchmarks are based on to be published, so that these can be analyzed and improved.

Personally, any time I see benchmarks I want to see:

- How can I reproduce?
- How many runs are the benchmarks based on?
- Was best run or average run considered?
- What were the configurations? Caching in the parcel config was mentioned, but what about caching capabilities of web

[2017-12-05 19:48] devongovett commented on #2
https://parceljs.org/transforms.html

[2017-12-05 19:48] dzek69 opened #10 "Add comparsion to fuse-box"
There is no much competition in bundlers world (yet?), but there IS actually something other than browserify and webpack - fuse-box that claims to be "blazing fast" too.

So any speed comparsion in README would be great, so we can have heathly competition here :)

[2017-12-05 19:48] robdodson commented on #2
I just followed the tutorial on the front page, it didn't mention needing a `.babelrc` :)

[2017-12-05 19:52] ejnaren opened #11 "UnhandledPromiseRejectionWarning when building."
Hi. As many others I am very excited for the work you are doing here. Badly needed.
I have stumpled upon a slight problem building even just the simplest html file:

[code]

After running parcel index.html, the "dist" folder is created but it is empty.
The following is the console errors:

[code]

[2017-12-05 19:55] devongovett commented on #8
I think this is an issue with the minifier... uglify-js doesn't like non ES5 inputs. Will work on fixing that.

In the mean time, you can disable the minifier with `parcel build index.html --no-minify`

[2017-12-05 19:56] Nedlinin commented on #11
Confirming this happens to me as well.  Node 9.1.0

[2017-12-05 19:56] devongovett commented on #9
Unfortunately, I can't publish that app as it is closed source. Do you know of a reasonably large open-source app that we could try benchmarking against?

[2017-12-05 19:57] mog13 commented on #11
I'm having the same problem. Node V 9.2.0 following the simple getting started index.html and index.js

[2017-12-05 19:58] devongovett commented on #11
hmm, is this node 9 specific? I've tested against node 8 so far.

[2017-12-05 20:03] adamhutch opened #12 "Parcel attempts to rewrite remote URIs"
Thanks for this project man, super excited to try it all out!

Ran into an issue with trying to use an external stylesheet. Not sure if there's a way to override this behaviour somehow.

In my `index.html` file, I have remote references to some CDN fonts, one example would be:
- `https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css`

When running my dev server, it attempts t

[2017-12-05 20:04] devongovett commented on #12
it should ignore them. looks like maybe your url is missing a slash after https:/?

[2017-12-05 20:05] devongovett commented on #2
hmm, you shouldn't need a babelrc for that. I tried the code from the homepage just now and it seemed to work for me... i'll look into it more.

[2017-12-05 20:06] devongovett opened #13 "Discuss .babelrc detection, engines field, etc."
Based on twitter convo:

https://twitter.com/dan_abramov/status/938090483166924800

[2017-12-05 20:09] ejnaren commented on #11
Happens to me in both 8 and 9.

On Tue, 5 Dec 2017, 20.58 Devon Govett, <notifications@github.com> wrote:

[2017-12-05 20:09] assertchris opened #14 "Suggestions for improving documentation"
- How do I get this SCSS file working?
- How can I watch a file in one place and generate a file in another?
- Is there a version manifest? Does this support versioning of any kind?
- Can I watch multiple asset entrypoints at once (like CSS, JS, HTML)?

---

As discussed [on reddit](https://www.reddit.com/r/javascript/comments/7hr6ta/parcel_blazing_fast_zero_configuration_web/dqtdrqg/)...

[2017-12-05 20:12] devongovett commented on #14
thanks. It is on my list to improve the docs specifically for compile-to-CSS langs. Basically you need to install `node-sass` in your project for it to work correctly. Sorry about that.

Please feel free to make other suggestions or directly make PRs against https://github.com/parcel-bundler/website.

[2017-12-05 20:15] adamhutch commented on #12
Woops, that's just how it outputs. I copied it twice.

![image](https://user-images.githubusercontent.com/910712/33628545-0e835da6-d9cf-11e7-95b3-8f5f54b8f948.png)

Converts to this:

![image](https://user-images.githubusercontent.com/910712/33628554-161388c0-d9cf-11e7-92ff-bd792c24671f.png)

[2017-12-05 20:16] konsumer commented on #8
I also tried with babel-preset-minify and it just seemed to skip it:

[code]

[2017-12-05 20:16] assertchris commented on #14
I did install that. I also installed postcss and postcss-scss and autoprefix; and set up a .postcssrc file. All of this got me to the "[object Object] is not..." error.

[2017-12-05 20:20] Jayphen commented on #2
I have the same issue as above when following the getting started tutorial. The issue occurs when importing the css file.

[2017-12-05 20:22] hinell commented on #11
Same here:

## Error
[code]

## Steps to reproduce:
[code]
[code]
[code]

### Command
`$ parcel index.html`

[2017-12-05 20:22] azharkhan commented on #8
amazing! thanks so much @devongovett

[2017-12-05 20:40] nchanged commented on #10
Yep, I would like to see the actual benchmark. FuseBox is able to re-bundle a 4.5mb bundle in ~150ms with cache. With an average project that's a 50ms build time. It would be fair to see the actual results.

[2017-12-05 20:46] morajabi opened #15 "Use babel-minify instead of the old Uglify JS"
https://github.com/babel/minify

Update: UglifyJS caused build to fail in this issue: #8

[2017-12-05 20:50] devongovett commented on #10
important to note the difference between re-bundling vs initial bundling. rebundling is relatively easy to get fast since usually just a single file changes at a time. initial bundling is what parcel focuses on. it is done by using multicore processing, which is something I haven't seen from other bundlers.

but yes, fuse-box would be a good comparison as well.

[2017-12-05 20:52] devongovett commented on #15
yep, only thing I was worried about is performance. last time I tried, it was quite a bit slower than uglify.

[2017-12-05 20:54] vhag opened #16 "Hitbox on buttons on https://parceljs.org/ too small"
Using Google Chrome 62.0.3202.94 on Windows 10 the "Get Started" and "Github" buttons on https://parceljs.org/ are only clickable on the lower half of the button.

[2017-12-05 20:56] morajabi commented on #15
I have no experience with that really! Just wanted to suggest it. I'm happy to investigate into this if you wish.

[2017-12-05 20:57] morajabi commented on #14
I'd love to see that list :))

[2017-12-05 20:57] nchanged commented on #10
@devongovett "initial" bundling is for production builds, but we are talking about productivity (development) here, where milliseconds matter. 2 seconds HMR is unacceptable for FuseBox

[2017-12-05 20:58] morajabi commented on #16
@vhag It's related to the other repo: https://github.com/parcel-bundler/website

[2017-12-05 21:00] vhag commented on #16
Okay, thank you, I will close this issue.

[2017-12-05 21:00] #16 closed

[2017-12-05 21:10] jouni-kantola opened #17 "Runtime error when loading jpg with import"
I created a test app with the following structure:
[code]

`index.js` looks like this:
[code]

When I build bundles are generated, but when loading the `logo.jpg` in runtime I get:
[code]

When I debug I got this (`bundleLoaders` have no prop `jpg`):
![no-jpg](https://user-images.githubusercontent.com/2670127/33630493-d77dbc78-da07-11e7-867a-2ce71479e54f.png)

[2017-12-05 21:16] morajabi commented on #3
@devongovett If you had some time, can you please write the steps needed to enable TS support. Then I can try to do so too. Thanks 😉

[2017-12-05 21:28] kevinburke opened #18 "Avoid doing unnecessary work"
Tools such as Make (and the upcoming Go 1.10) get good speed results because they avoid doing work they don't have to do. In particular, Make compares the file mtimes of every dependency to the  mtime of the target. If the target is newer, it realizes it doesn't have to do any work, the output is already up to date.

Go 1.10 takes a similar approach but generates a hash based on the contents of th

[2017-12-05 21:37] thomaslittle commented on #2
same issues here when attempting to import css or scss. `/usr/local/lib/node_modules/parcel-bundler/src/builtins/css-loader.js: Couldn't find preset "env" relative to directory "/usr/local/lib/node_modules/parcel-bundler/src"`

[2017-12-05 21:38] elijahdorman commented on #15
In my current project, Babili support is fairly important due to ES5 and ES6 support (uglify gave us some ES6 issues, so we swapped).

All current comparisons I can find aren't really apples to apples comparisons. Parsing ES6 is a lot more complicated than parsing ES5. More parser code and more complex parsing are going to have an effect on speed. Every test I've ever seen compiles the code to ES5

[2017-12-05 21:41] NullVoxPopuli opened #19 "React Guide?"
I tried `parcel index.jsx` it gave:

[code]

granted, it's not a valid html file.

the file I currently use with webpack is linked via script tag to webpack's output js.

I tried using a script tag to my jsx entrypoint, but that didn't work either.

This was just with the default install, and 0 config.

[2017-12-05 21:48] matheussampaio commented on #19
It's possible to use `jsx`? How?

[2017-12-05 21:51] elijahdorman commented on #19
Since it's using Babel, I'd just change the extension to `.js` and pass that through.

[2017-12-05 21:52] devongovett commented on #19
jsx is a supported file extension. you just need to setup babel in your project by adding a `.babelrc`, and install `babel-preset-react`

[2017-12-05 21:57] NullVoxPopuli commented on #19
this is my existing .babelrc

[code]

:-\

[2017-12-05 22:12] mwarger commented on #11
I followed the getting started and had the same results.  Sample repo here: https://github.com/mwarger/parcel-getting-started-windows

Windows 10
[code]

[2017-12-05 22:22] devongovett commented on #18
Yep, there is a filesystem cache that does this for future builds, and an in memory one as well for faster rebuilds without restarting the process. Code is here: https://github.com/parcel-bundler/parcel/blob/master/src/FSCache.js

[2017-12-05 22:22] #18 closed

[2017-12-05 22:29] reicheltp commented on #19
Hi @NullVoxPopuli
I've created a minimal React example. Take a look: https://github.com/reicheltp/parcel-react-example

[2017-12-05 22:42] wemyss commented on #19
Is there an examples repo/document somewhere to put examples so new starters can find them easily / understand what is needed to get parcel to work in their stack?

[2017-12-05 22:43] pke commented on #11
This happens even with the simplest html file and no JS involved:

[code]

`node v7.10.0`
`parcel-bundler@1.0.1`

[2017-12-05 23:04] mikeabraham commented on #12
Agreed. Awesome project. Very excited about it.

I have the same issue.

**Source**
`<script src="https://unpkg.com/vue"></script>`

**Output**
`<script src="/dist/https:/unpkg.com/vue"></script>`

[2017-12-05 23:12] mjackson commented on #19
Another example is here https://github.com/jaredpalmer/react-parcel-example

[2017-12-05 23:19] devongovett commented on #19
I'm thinking of adding a "recipes" section or something to the docs, for e.g. react and other common frameworks. Might be something someone could countribute :)

[2017-12-05 23:20] devongovett commented on #17
Yeah, currently dynamic import can be used for CSS or JS.

[2017-12-05 23:20] elrumordelaluz commented on #9
Probably not huge, but why not one from here https://github.com/gothinkster/realworld

[2017-12-05 23:25] queicherius commented on #19
Just chiming in that a react example with hot reloading would be super neat since that is the only thing that the competition (`create-react-app`) can't easily provide :)

[2017-12-05 23:29] jouni-kantola commented on #17
This phrase was why I took a small webpack app I often use for testing, and tried it with parcel:

The usecase I'm after is to code split around components, but I guess the image could've been loaded by splitting out via a JS module instead.

[2017-12-05 23:38] matheussampaio commented on #19
Hot reloading would be neat! 😄

[2017-12-06 00:19] skyzyx opened #20 ""Blazing fast" is improper grammar"
This might feel pedantic — especially with how _awful_ most people are with this specific phrase — but it should be “_Blazingly_ fast”.

[2017-12-06 00:19] sylvainpolletvillard commented on #3
Since parcel already has babel support, It could be worth it to try [babel-preset-typescript](https://github.com/babel/babel/tree/master/packages/babel-preset-typescript) , currently in beta, planned for Babel 7. Register the `.ts` extension and configure `.babelrc` to use the `typescript` preset.

[2017-12-06 00:19] CentaurWarchief opened #21 "How do I update public URL?"
Heyo. I've seen the flag `--public-url` but not exactly sure how it behaves. I am trying to `--public-url=.` and I've also tried `--public-url=http://localhost:8080`.

It would be nice if I could just modify it. Especially for cases where I'd throw everything that's on `dist` in a S3 bucket with static hosting enabled. Does that make sense? am I misunderstanding something?

Thanks! Very nice stuff

[2017-12-06 00:24] sylvainpolletvillard commented on #11
Same here on Windows 10 x64, Node v8.2.1. Maybe it only affects Windows users ?

[2017-12-06 00:46] kingdaro commented on #11
I get the same error. When I try to do a build on the Windows subsystem for Linux, the error goes away, (but I get a new one)
[code]
So it does appear to be a Windows issue.

[2017-12-06 01:07] aweary opened #23 "Infrastructure improvements"
Hello 👋

I was looking at contributing to parcel, and noticed a few things that would make it easier for you and others to maintain and contribute to the project. I thought I would just list them in one big issue.

- [x] Enforce a style. I would recommend using [prettier](https://prettier.io/) with pre-commit hooks
- [x] Get Travis CI setup
- [x] Add a `CONTRIBUTING.md` document with a basic overv

[2017-12-06 01:21] benjamn commented on #15
I am one of the maintainers of [Meteor](https://github.com/meteor/meteor/), and we began using Babili/`babel-minify` as a fallback for UglifyJS, back when https://www.npmjs.com/package/uglify-js didn't really support ECMAScript 2015+ syntax, and would often fail when it encountered newer syntax: https://github.com/meteor/meteor/pull/8397, https://github.com/meteor/meteor/pull/8519

Since then, the

[2017-12-06 01:44] stevefan1999 commented on #11
Same here. Windows 10 x64 will yield `Maximum call stack size exceeded`. Works pretty well on WSL.

[2017-12-06 02:09] StanleySathler opened #24 "Thrown error: Couldn't find preset "env" relative to directory"
Hello guys!
First of all: thank you for this awesome job. It looks amazing!

I tried run the `parcel index.html` command for the first time and the following error was thrown:
[code]

To solve that, I had to install `babel-preset-env` package (also globally).

**NodeJS:** v9.0.0 (stable)
**OS:** Mac OS X Sierra 10.12.6

[2017-12-06 02:16] Darmody opened #25 "Add an aliasing system that works for all asset types"
Is there a way to define alias ? Like webpack config:

![2017-12-06 10 16 24](https://user-images.githubusercontent.com/6788752/33640985-925ebe8c-da6e-11e7-8db4-6a9de57476bd.png)

[2017-12-06 02:34] drewhamlett commented on #25
You can do this with babel.

https://github.com/tleunen/babel-plugin-module-resolver

[2017-12-06 02:47] davidsonsns commented on #6
I solved the problem by adding `babel-preset-env`.
I put it available with this setting and hot-reload at [https://github.com/davidsonsns/parcel-react-app](https://github.com/davidsonsns/parcel-react-app).

[2017-12-06 02:51] davidsonsns commented on #24
you can also enter both just in the project.
I have it available at [https://github.com/davidsonsns/parcel-react-app](https://github.com/davidsonsns/parcel-react-app).

but anyway I also believe that there should not be this error.

[2017-12-06 02:52] wyqydsyq commented on #3
Unfortunately `babel-preset-typescript` isn't particularly useful in most cases as it [only does a transform and doesn't actually *compile* using `tsc`](https://github.com/babel/babel/tree/master/packages/babel-plugin-transform-typescript), so you'll never get any type checking (the main reason to use TypeScript).

It seems the ideal solution to this issue would be for Parcel to support TypeScript

[2017-12-06 02:53] yeskunall commented on #23
To add to the list, I think it would be easier to contribute if every module (class, helper, util) came with a small description as to what it does, as do some of them already. Was browsing through the repo and noticed that I had to really dig into the code to see what was going on 😆 but maybe that's just me.

[2017-12-06 02:54] Darmody commented on #25
@drewhamlett Thanks! Does it also works in less? Such as `@Import '~less_base/common.less'`

[2017-12-06 03:28] albizures commented on #24
I have the same problem with but using npm
**NodeJS**: node v8.8.1
**OS**: Mac OS X Sierra 10.13.1
[code]

[2017-12-06 03:49] robertleeplummerjr commented on #20
either way, fast is fast

[2017-12-06 03:55] KyleAMathews opened #28 "Distributed caching?"
I'd love to see a JS bundler that includes support for both local and distributed cache. This would dramatically speed up initial builds e.g. for developers when switching to a new branch or getting started on a new project or for production builds on CI servers, etc.

Something like what https://bazel.build/ does.

[2017-12-06 03:57] KyleAMathews opened #29 "Distributed builds"
E.g. what if a bundler could run on Lambda? This combined with a [distributed cache](https://github.com/parcel-bundler/parcel/issues/28) would mean that even very large production builds would consistently finish very quickly.

[2017-12-06 03:58] Sobranier opened #30 "do u support cmd?"
index.js:

[code]

main.js:

[code]

result:

<img width="253" alt="2017-12-06 11 43 04" src="https://user-images.githubusercontent.com/7440073/33643905-b80dae96-da7c-11e7-89f8-1e6b4cd64ff6.png">

[2017-12-06 04:07] devongovett commented on #3
I think TypeScript support should totally be built in. We may require that you install `typescript` in your project so we don't depend on it unnecessarily like we do for stylus, sass, etc. But you shouldn't need to install an additional plugin beyond this.

I don't personally have any experience with typescript, so I'll need some input here. I like the idea of using `babel-preset-typescript` if th

[2017-12-06 04:09] bigtunacan commented on #4
Same issue running `node v6.8.1` on Mac `10.12.6`

[2017-12-06 04:17] devongovett commented on #25
So I take it that your usecase is to avoid typing long relative paths everywhere? In general I'm not a huge fan of doing this as it makes it much harder to reason about where the code you read in a project is coming from. I'd rather stick with the standard Node module resolution algorithm and avoid having each project define its own strategy.

If we did something here, I'd want the aliases to be s

[2017-12-06 04:25] albizures commented on #24
hey @devongovett, I think this is happening because `babel-preset-env`should be a `dependency`, not a `devDependecy`

[2017-12-06 04:28] balanceiskey commented on #20
'Blazing fast' is appropriate for this particular type of speech (marketing, informal, etc.) and fine for colloquial English. -- https://english.stackexchange.com/questions/294817/why-are-both-blazing-or-blazingly-appropriate

[2017-12-06 04:35] devongovett commented on #20
Thanks for the input guys. I'm gonna leave it for now. Despite potentially being incorrect, "Blazing fast" sounds better to me in this context.

[2017-12-06 04:35] #20 closed

[2017-12-06 04:36] devongovett commented on #5
Yep, totally want to do this. May require some changes to how the internals work to allow an asset to have multiple sub-assets I guess (e.g. script, style, etc.). I'm working on how this might work and will update this issue.

[2017-12-06 04:58] andrewluetgers opened #31 "Cannot read property 'start' of undefined"
`loot$ parcel build src/index.js
🚨  /Users/loot/dev/project/src/index.js: Cannot read property 'start' of undefined
    at module.exports (/Users/loot/.nvm/versions/node/v8.7.0/lib/node_modules/parcel-bundler/node_modules/babel-to-estree/babylon-to-espree/attachComments.js:56:42)
    at module.exports (/Users/loot/.nvm/versions/node/v8.7.0/lib/node_modules/parcel-bundler/node_modules/babel-to-estr

[2017-12-06 04:59] wyqydsyq commented on #3
Yeah I agree, having it as a peer-dependency would be ideal so that the `typescript` version you use isn't tightly coupled to your parcel version.

`tsc` provides a lot more than type checking, I just mentioned that as it's the primary feature. Using the babel preset would mean you miss out on *all* warnings from `tsc`, for example [code quality compiler options](https://www.typescriptlang.org/doc

[2017-12-06 05:00] ThatToti commented on #4
the same problem in node version ```v6.9.5```

[2017-12-06 05:06] devongovett commented on #4
Should be fixed by bab5ff459efd6452cc947b76de5d6465b5003ddb. Will go out in the next release.

[2017-12-06 05:10] hdriqi opened #33 "support global import?"
Is there any support for global import just like in webpack https://webpack.js.org/plugins/provide-plugin/

and also is it possible not to transform public url ( CDN, etc )

[2017-12-06 05:11] treshugart commented on #17
I get this for any non js / css import that is contained inside of a dynamic import call, even when they're not a dynamic import themselves. i.e.

[code]

[2017-12-06 05:19] lastmjs commented on #3
Some suggestions. I think it would be ideal to send TypeScript errors/warnings to the browser console instead of to the local machine console. Really, TypeScript errors are just type check warnings, and it feels like a more unified experience to have all of my client code errors and warnings appear in one place, the browser console. It would also be ideal to not force the compilation to fail if th

[2017-12-06 05:24] lastmjs opened #34 "WebAssembly Support"
It would be amazing to support WASM, so that C/C++/Rust and eventually many other languages could be automatically supported. Webpack is already working on this, and I've been working on it too here: https://github.com/lastmjs/zwitterion

I already have initial support for including basic C and C++ files, and WASM is now or will be ES module integratable.

It's possible and it would be awesome for

[2017-12-06 05:25] devongovett commented on #12
Should be fixed by #22.

[2017-12-06 05:26] lastmjs commented on #34
You know, support for different file types besides just js should probably be discussed. This might be a major infrastructure change and decision that this library might want to make now. We're already talking about supporting at least ts files here: https://github.com/parcel-bundler/parcel/issues/3

[2017-12-06 05:27] albizures commented on #23
hey @aweary, there is already a build command [#L60](https://github.com/parcel-bundler/parcel/blob/master/bin/cli.js#L60)

[2017-12-06 05:28] devongovett commented on #28
Cool idea. Definitely something you could build on top of parcel :)

[2017-12-06 05:28] #28 closed

[2017-12-06 05:29] Darmody commented on #25
@devongovett Yeah, that is a good point. I just try to migrate from a webpack project. Then I found the alias issue. Because `less-loader` will recognize `resolve.alias`.

Maybe I will do some refactor. Thanks for you explaination!

[2017-12-06 05:29] aweary commented on #23
@albizures I mean for building the source.

[2017-12-06 05:29] devongovett commented on #29
Neat idea. Definitely something someone could work on.

[2017-12-06 05:29] #29 closed

[2017-12-06 05:31] lastmjs commented on #34
And I am pleased to find out that this was already though of, and parcel is file-type agnostic. Perfect. Then, let's support C/C++/Rust/wasm files. How do we do this?

[2017-12-06 05:32] devongovett commented on #33
Best way to do this would be a babel plugin IMO. That way it would work across other bundlers as well, not just specific to parcel. Also means the configuration could go in a babelrc which many projects already have.

Maybe https://www.npmjs.com/package/babel-plugin-auto-import would work?

[2017-12-06 05:37] albizures commented on #23
lol, sorry 🤣

[2017-12-06 05:40] devongovett commented on #34
Yep totally want to support wasm. I did some initial experiments with this a while ago, and it should be pretty easy. I think WASM should definitely be supported in parcel core. Less sure about languages that compile to WASM like Rust since they usually depend on large toolchains, but perhaps it could work assuming installation instructions are documented well.

[2017-12-06 05:46] albizures commented on #24
this is related to #6

[2017-12-06 05:55] devongovett commented on #17
yep, dynamic imports are lazy: they don't get loaded until you explicitly need them (by calling `.then`). See https://parceljs.org/code_splitting.html to read more about it.

[2017-12-06 05:56] mubaidr commented on #5
Just to remind that subsections can be js, ts, pug, html, css, scss, stylus.

[2017-12-06 06:00] devongovett commented on #7
Typescript is being discussed in #3. What other things are needed for this issue?

[2017-12-06 06:04] devongovett commented on #11
hmm, seems like a windows issue 😢? I can try to setup a vm to test, but would be great if someone could dig into this a bit and get more info on the errors being logged there (e.g. what promise is being rejected, etc.). Thanks in advance for your help! 😄

[2017-12-06 06:21] GeeWee commented on #3
Worth noting is that Babel 7 will come with built in typescript support, so the problem might solve itself in the near future

[2017-12-06 06:22] devongovett commented on #24
Ah I see. It's because the `.babelrc` in parcel is being published to npm, so parcel is trying to compile its own code for the small JS runtime that is included alongside CSS to do hot reloading. Then babel tries to find preset-env which is specified in there, even though we don't really need it.

Added `.babelrc` to `.npmignore` in 30616e94ee852560ba4ba52fc2faa605136d4154.

[2017-12-06 06:22] devongovett commented on #6
Ah I see. It's because the `.babelrc` in parcel is being published to npm, so parcel is trying to compile its own code for the small JS runtime that is included alongside CSS to do hot reloading. Then babel tries to find preset-env which is specified in there, even though we don't really need it.

Added `.babelrc` to `.npmignore` in 30616e94ee852560ba4ba52fc2faa605136d4154.

[2017-12-06 06:23] rwieruch commented on #6
On the command line in npm project:

[code]

In .babelrc:

[code]

In package.json (substitute with yarn equivalent):

{
  ...
  "scripts": {
    "start": "parcel ./index.html"
  },
  ...
}

On the command line:

`npm start`

[2017-12-06 06:26] devongovett commented on #24
Should be fixed in v1.0.2.

[2017-12-06 06:26] #24 closed

[2017-12-06 06:26] devongovett commented on #6
Should be fixed in v1.0.2.

[2017-12-06 06:26] #6 closed

[2017-12-06 06:26] devongovett commented on #4
Released in v1.0.2.

[2017-12-06 06:26] #4 closed

[2017-12-06 06:27] devongovett commented on #12
Released in v1.0.2.

[2017-12-06 06:27] #12 closed

[2017-12-06 06:28] rwieruch commented on #24
Good job @devongovett 🎉 Looking forward to it. Just a great way how you solved the whole thing :)

[2017-12-06 06:30] tnrich commented on #1
Hey there, I'm seeing this error:
[code]

any thoughts as to why it would be trying to look for babel presets in there? The code in /lib of that node_module is already compiled as far as I know. Thanks!

[2017-12-06 06:30] thejameskyle commented on #23
I'm taking on all these btw

[2017-12-06 06:33] devongovett commented on #8
Going to reopen to track this issue.

[2017-12-06 06:33] devongovett commented on #31
See #8.

[2017-12-06 06:33] #31 closed

[2017-12-06 06:35] aweary commented on #23
@thejameskyle happy to contribute if you want to delegate anything.

[2017-12-06 06:36] thejameskyle commented on #23
@aweary Sweet, I've worked through a number of the items already. I'll add Flow to the project and then we can iterate on adding more and more types

[2017-12-06 06:53] devongovett commented on #19
Nice work @albinotonnina! Want to write up a small tutorial for the Parcel website with some code and explanations? The pages are just markdown files here: https://github.com/parcel-bundler/website.

[2017-12-06 07:00] e2goon commented on #11
I'm having the same problem

[2017-12-06 07:07] devongovett commented on #15
Haven't looked into the babel-minify issue, but one thing that might help with memory usage is that Parcel currently minifies each file separately so we won't feed a giant bundle into the minifier all at once. This should speed things up quite a bit too.

Currently, Parcel tries to avoid code generating and re-parsing before running uglify by converting the Babel AST to an Uglify AST. That's the c

[2017-12-06 07:24] devongovett commented on #2
These issues should both be fixed in v1.0.2.

[2017-12-06 07:24] #2 closed

[2017-12-06 07:35] thejameskyle commented on #23
Moving to #35

[2017-12-06 07:35] #23 closed

[2017-12-06 07:37] TimelyToga opened #36 "CSS not updating automatically with Firefox"
First of all, thanks for such a wonderful tool!

Updates to JS files propagate correctly, but changes to imported CSS files will not be applied without refreshing on Firefox.

Tested on Firefox V35.0 and Firefox Developer Edition 58.0b7 (64-bit).

Chrome V62.0.3202.94 (Official Build) (64-bit) updates automatically.

[2017-12-06 07:38] christianalfoni opened #37 "Code splitting and libraries"
Hi there!

Awesome work on this tool. So happy to see that build tools are still being iterated and improved upon 👍

I have a question related to code splitting. If I have two different lazy imports and both of them require for example `moment`. Will moment be included in both of those bundles? How does it resolve these kinds of dependency graphs?

I can contribute with docs on this, just have to

[2017-12-06 07:39] hyrious commented on #11
@devongovett It turns out that [src/utils/config.js#L6](https://github.com/parcel-bundler/parcel/blob/master/src/utils/config.js#L6) got recursive calling itself, which causes *Maximum call stack size exceeded*. Not find out how to solve it yet.
I got this information by `mocha`, here is the stack trace:

[test/css.js#L8](https://github.com/parcel-bundler/parcel/blob/master/test/css.js#L8) in `des

[2017-12-06 07:53] shiloa opened #39 "Importing CSS from node_modules"
Hi,

Looks very cool!

I have a SCSS file in a project that imports CSS from `node_modules` using `@import` declaration:

[code]

When I run parcel I get the following error:

[code]

I should note that I did not configure anything specifically for parcel before running `parcel src/index.jsx` (I have an existing webpack and babel configuration). Do I need some special configuration to support SCSS

[2017-12-06 08:03] jonathanp commented on #8
Thanks for a great project @devongovett! FYI the Angular team fixed this same issue by using `uglify-es` for minifying ES2015+ code instead of `uglify-js`, maybe that's a solution you can use too.

[2017-12-06 08:08] devongovett commented on #39
The node_modules resolution algorithm isn't implemented yet for SASS/SCSS. Currently you could make a `.sassrc` or `.sassrc.js` file to configure the node-sass `includePaths` option to include `node_modules`.

The real solution will be to replace sass's default resolution algorithm with parcel's (node). I recently did this for stylus, so just a bit more work for sass.

[2017-12-06 08:15] devongovett commented on #37
Common dependencies will be hoisted up to the nearest common ancestor, so they'll only be included once (in the parent bundle). There is a bit more info about how Parcel works here: https://parceljs.org/how_it_works.html.

[2017-12-06 08:16] christianalfoni commented on #37
Aha, great, thanks for the info. Will suggest some info on this in the `Code splitting` section :)

[2017-12-06 08:16] #37 closed

[2017-12-06 08:32] shiloa commented on #39
Sounds good - thanks!

[2017-12-06 08:42] e2goon commented on #11
[src/utils/config.js#L25](https://github.com/parcel-bundler/parcel/blob/master/src/utils/config.js#L25)

[code]

Let's look at the return value in Windows and Mac environments.

![image](https://user-images.githubusercontent.com/45934/33652440-d26eaada-daac-11e7-9237-88d4c7b4e858.png)

[2017-12-06 09:03] benbonnet opened #40 "🐛 `require is not defined`"
Is that just me ? [the simplest example](https://parceljs.org/getting_started.html) does not even work; breaking on the very first variable in ./build/index.js :
[code]
Or transforms/babelization/etc…  (not shown in the example) are to be added first ?

[2017-12-06 09:07] handoing commented on #40
I have the same problem.

[2017-12-06 09:24] sylvainpolletvillard commented on #3
@wyqydsyq VSCode, Webstorm and probably other editors support TypeScript language service for code validation and type-checking errors directly inside the editor. This means you can have a nice Typescript developer experience while improving the compiler performance, because as you said, Babel does not do any type-checking. I remember I saw some tweets about using Babel instead of tsc to improve b

[2017-12-06 09:25] ivancuric opened #41 "Multi-compiler mode — output multiple bundles"
It would be great if parcel supported multiple targets, preferably using using a `browserslist` file.
For instance:
[code]

Tools in the pipeline that support it like `babel-preset-env` and `postcss` (primarily `autoprefixer`) should use it as well.

The output should be two completely separate builds. The modern one with only the neccessary transpilation (would a target of `chrome 63` still bundl

[2017-12-06 09:27] deesx commented on #40
Just tried out this one : https://github.com/davidsonsns/parcel-react-app

Was on node6, upgrading to node8 let me run this example without issues.

node8 is obviously required; so is a minimal .babelrc setup

[2017-12-06 09:30] pke opened #42 "Optimize loops"
According to this https://jsperf.com/for-of-vs-for-loop for of loops are slower than the canonical loop in Javascript. Maybe it's worth a try to further increase performance of the tool. Once the compile bug on Windows is fixed I can give it a try

[2017-12-06 09:47] chee opened #43 "tries to import datauri as a file if it is in quotes"
[code]

works!:
[code]

error:
[code]

(`🚨  /Users/chee/projects/nothing/lol.css:2:3: Cannot resolve dependency './data:image/gif;base64,something'`)

[2017-12-06 10:11] treshugart commented on #17
Right ok, that makes sense now. I was confused because webpack loads it
immediately. Is parcel’s behaviour consistent with the spec?
On Wed, 6 Dec 2017 at 4:55 pm, Devon Govett <notifications@github.com>
wrote:

[2017-12-06 10:15] albinotonnina commented on #19
@devongovett I would like to. My solution smells a bit though! Let me see if I can do better

[2017-12-06 10:17] hyrious commented on #11
In [src/utils/config.js#L10](https://github.com/parcel-bundler/parcel/blob/master/src/utils/config.js#L10), I did:
replace `filepath === root` with `filepath === root || filepath === path.dirname(filepath)`,
then I run test again, got these:
<details>
<pre><code>&gt; mocha

  css
    √ should produce two bundles when importing a CSS file (2301ms)
    √ should support loading a CSS bundle along sid

[2017-12-06 10:43] aurelienlewin opened #44 "Cannot resolve mailto: and tel: URIs dependencies"
Hello,

If you use `mailto:` or `tel:` in your `href` anchors attributes, the build fails to resolve dependencies.

`$ parcel build src/index.html
🚨  /Users/a/Documents/a/a/src/index.html: Cannot resolve dependency './tel:+336…'`

[2017-12-06 11:18] labnol commented on #40
Getting the same issue on Node 6

[2017-12-06 11:28] pyros2097 commented on #10
Yes. My current webpack rebuilding a single file change takes 4.5s and in FuseBox takes 0.5s so that matters a lot for developer productivity.

[2017-12-06 11:48] jakoblind commented on #19
I wrote [a guide](http://blog.jakoblind.no/react-parcel/) on how to create a minimal React app using Parcel.

[2017-12-06 12:05] thejameskyle commented on #42
I highly doubt this will have a noticeable impact on performance.

["microbenchmarks are evil" – jsPerf](https://twitter.com/jsperf/status/386195045206208512)

[2017-12-06 12:05] #42 closed

[2017-12-06 12:11] thejameskyle commented on #17
Reading [the proposed spec](https://tc39.github.io/proposal-dynamic-import/#sec-import-calls), I don't believe this behavior is "observable" (in terms of the spec) other than maybe some equality checks on `.then`.

[2017-12-06 12:16] thejameskyle commented on #40
We're relying on non-strict mode. Some tool (most likely Babel is adding in the `"use strict"`.

We should probably update the [prelude.js](https://github.com/parcel-bundler/parcel/blob/ad5135adfda84e7bf49a9aee477deae7d83a3588/src/builtins/prelude.js) file to find the correct global to attach to.

@ljharb What's the best way to get `global` (whether it be `window/self/global/this`) today?

[2017-12-06 12:18] thejameskyle commented on #5
@sdras Do you know anyone in the Vue community who might be willing to help with this?

[2017-12-06 12:24] thejameskyle commented on #10
Let's focus on making Parcel solid before we start on this stuff. Saying Parcel is much faster than Webpack/Browserify is interesting, saying it's in the same ballpark as fuse-box is not. At that point you start comparing on other features.

I'm gonna close this as something to come back to later, let's see how things go.

[2017-12-06 12:24] #10 closed

[2017-12-06 12:27] thejameskyle commented on #44
lol, amazing. [Relevant code is here](https://github.com/parcel-bundler/parcel/blob/7b899b38930a7a30943a6148f475a5007ce2c625/src/assets/HTMLAsset.js#L33)

[2017-12-06 12:31] thejameskyle commented on #15
I would also hesitate to make it the default at this point. An option sure

[2017-12-06 12:32] thejameskyle commented on #43
[Relevant code is here](https://github.com/parcel-bundler/parcel/blob/ad5135adfda84e7bf49a9aee477deae7d83a3588/src/assets/CSSAsset.js#L61)

[2017-12-06 12:35] thejameskyle commented on #7
I'm pretty sure this is just TypeScript support, closing unless someone knows of additional requirements

[2017-12-06 12:35] #7 closed

[2017-12-06 12:37] thejameskyle commented on #36
Pretty sure that's going to be somewhere in one of these files:

- https://github.com/parcel-bundler/parcel/blob/master/src/builtins/hmr-runtime.js
- https://github.com/parcel-bundler/parcel/blob/master/src/builtins/css-loader.js

[2017-12-06 12:45] thejameskyle commented on #41
Wouldn't it be simpler just to run parcel twice with different environment configurations?

We do this a lot on my team:

[code]

[code]

[2017-12-06 12:47] thejameskyle commented on #30
This is not enough information to go off of, please provide something that we can reproduce and I'll reopen this issue.

[2017-12-06 12:47] #30 closed

[2017-12-06 12:50] Olian04 commented on #3
@GeeWee in [planning for Babel 7](https://babeljs.io/blog/2017/09/12/planning-for-7.0)

Wouldn't this bypass the type checking of tsc?

[2017-12-06 12:55] StarpTech opened #46 "Getting Started doesnt work, Maximum call stack size exceeded"
Following Getting Started https://parceljs.org/getting_started.html

Result:
[code]
Node.js: 8.6.0

BTW: Highly recommend https://github.com/mcollina/make-promises-safe

[2017-12-06 12:57] thejameskyle commented on #25
This can't be completely pushed onto Babel since it needs to work across transforms (html, css, etc).

I'm also not a fan of doing this for long paths, but it is important for mapping things like "react" to "preact". In which case you do want it to operate across module boundaries.

I think we might be able to scope this to packages, but for cases like Preact you'd have one of two options:

1. Ali

[2017-12-06 12:59] thejameskyle commented on #3
I think we should do both:

- Using babel-preset-typescript should just work
- There should be a way to run the tsc compiler

There's no way to guarantee that Babel and TypeScript are perfectly in sync with syntax support. So people should have the option to stick to the TypeScript compiler.

[2017-12-06 13:03] thejameskyle commented on #11
It's probably that `root` is `/`, but on Window file paths are split up by `\` and I think the root of the file system has a prefix?

[2017-12-06 13:04] thejameskyle commented on #46
I'm assuming you're on Windows, please subscribe to: #11

[2017-12-06 13:04] #46 closed

[2017-12-06 13:24] gargantuan commented on #3
I'd suggest stating with Babel, and putting tsc on the backlog.

[2017-12-06 13:29] adamhutch commented on #12
Thanks so much @devongovett, confirmed fixed. Really appreciate the fast fix 👍

[2017-12-06 14:09] NullVoxPopuli commented on #19
I think I found the root of my problem.
This project imports css into js... which, not sure if parcel should support that, cause I think it's a stupid pattern. :-\

some errors I've gotten:
![image](https://user-images.githubusercontent.com/199018/33665420-e02d3378-da64-11e7-8ee3-e29e3753150b.png)
after commenting all the styles out:

![image](https://user-images.githubusercontent.com/199018/33665

[2017-12-06 14:09] ssuman commented on #43
I'll work on this.

[2017-12-06 14:29] gabrielsanterre opened #47 "JSON files are not resolved"
JSON files are not resolved.

We should be able to do:
[code]

I'm currently getting error similar to this:
[code]

[2017-12-06 14:31] gabrielsanterre commented on #47
Other example:
[code]

[2017-12-06 14:37] StarpTech commented on #11
@thejameskyle exactly, I created a PR https://github.com/parcel-bundler/parcel/pull/48

[2017-12-06 14:38] StarpTech opened #49 "Setup CI"
Travis, Appveyor

[2017-12-06 14:39] StarpTech commented on #49
Already covered by https://github.com/parcel-bundler/parcel/pull/45

[2017-12-06 14:39] #49 closed

[2017-12-06 14:49] bigtunacan commented on #40
Just chiming in; I was getting the a different error #31, but after that issue was fixed I'm now getting this error with node6.

[2017-12-06 14:55] prichodko commented on #44
I'd love to take over this. Just to clear things up: Should we ignore something else? Like `href="#..."` or what if `target` is present?

[2017-12-06 15:10] davidkwan95 opened #51 "question about react router / server side rendering"
This looks great! I have some question though, since we don't need to setup any configuration.
1. Can we generate all the static pages with the routes from React router?
2. How do you set this up for server side rendering?

[2017-12-06 15:13] thejameskyle commented on #44
I don't think you need to worry about target either

[2017-12-06 15:14] adrianvoica commented on #3
TS support out of the box... pretty please (and not TS-simple).

[2017-12-06 15:15] thejameskyle commented on #51
What do you mean by static pages from the routes? Is this something you can do in other bundlers?

I'll try to add support for parcel in React Loadable sometime for code splitting + server side rendering

[2017-12-06 15:16] thejameskyle commented on #3
In the interest of keeping the noise down on this issue, please use the 👍 button on the original post or any comments.

[2017-12-06 15:21] oliger opened #52 "hmr and watcher tests failing randomly"
While working on #50 I had those two tests failing randomly... I did not took the time to understand the issue... Maybe it come from my machine.

[code]

[code]

[2017-12-06 15:24] ivancuric commented on #41
Maybe. I remember trying that approach, but I gave up on it. I had issues with manifest.json hashes and livereloading in a multi-output dev environment. Race issues probably.

[2017-12-06 15:28] thejameskyle commented on #52
I've been running into the same problems. I've been looking into them, it seems the uv_close issue is related to sass and if you skip the sass tests you won't get that error anymore

[2017-12-06 15:41] 4rlekin commented on #13
As i understand the fundamental issue here is to detect how much transpilation (if any) is needed for each third party dependency, correct?

Stop me if it's stupid but couldn't we somehow check `package.json`s of dependencies?
I mean is there really any other way to programatically check what is needed by given project?
Though i imagine it could be potentially costly... :/

[2017-12-06 15:48] lifeart opened #53 "Win10 build issue on empty project"
![image](https://user-images.githubusercontent.com/1360552/33670385-fe7c1078-dab5-11e7-9252-4a1869444c82.png)

index.js -> empty
index.html ->

[code]

[2017-12-06 15:50] lifeart commented on #53
![image](https://user-images.githubusercontent.com/1360552/33670515-573b17e0-dab6-11e7-8e6e-f45f88b44014.png)

[2017-12-06 15:53] BChip commented on #53
This is a known issue: see #11

[2017-12-06 15:54] davidnagli commented on #53
It looks like port :1234 is already being used by Windows. Try using the ‘-p’ flag to specify a different port (try :8080).

[2017-12-06 15:54] davidkwan95 commented on #51
There are webpack plugins that will traverse the routes file and generate all the static pages. One example is [React Static Webpack Plugin](https://github.com/iansinnott/react-static-webpack-plugin).

I hope the best luck of luck for you guys. Can't wait to use this in production :+1:

[2017-12-06 15:55] lifeart commented on #53
@davidnagli ![image](https://user-images.githubusercontent.com/1360552/33670811-025c5206-dab7-11e7-8ded-5a9a37b5fa30.png)

same issue

[2017-12-06 15:57] lifeart commented on #53
Node version v7.9.0

[2017-12-06 15:57] lifeart commented on #11
Same for node v7.9.0, win10 x64, parcel 1.2

[2017-12-06 16:45] omouse commented on #7
I mentioned "without Typescript support" because it is possible to use Angular 2/4/5+ with plain JavaScript and may be easier to fix than implementing typescript support.

when I've got some time I'll give both AngularJS 1.x and Angular 2+ (plain javascript *no* typescript) a try to see what happens. Parcel looks promising!

[2017-12-06 16:52] M-ZubairAhmed commented on #36
can I look into this one?

[2017-12-06 16:59] benjamn commented on #13
Whether or not to honor `.babelrc` files in nested `node_modules` directories is a hot topic over at the Babel repo, too: https://github.com/babel/babel/issues/6766

In short, most npm packages are fully compiled before they are published, so it is wasteful/inappropriate to recompile them (even using their own `.babelrc` files). It would be great if those packages put `.babelrc` in their `.npmigno

[2017-12-06 17:21] bryananthonylewis commented on #14
I'd agree with this. The getting started guide was great and straight forward. I got a project up super quick. However, I came to a halt right when I tried to make a SASS file and couldn't find any documentation on how to process that file.

[2017-12-06 17:53] GeeWee commented on #3
@Olian04 yeah that's a good point, we'd want to fork and typecheck in a separate process, like e.g. ts-loader does, but in general not having the typechecker run 24/7 is not as big of a problem as one night think as the editors will autocomplete fine without.

[2017-12-06 18:04] kazupon commented on #5
In the roadmap of vue project, [vue-componet-compiler](https://github.com/vuejs/vue-component-compiler) work in progress.
Design Thread: https://github.com/vuejs/vue-component-compiler/issues/28

The goal of this project support to a bundle-agnostic package so that it can be reused in all tooling in the ecosystem.

You might be asked @znck and @eddyerburgh about it than I do.

[2017-12-06 18:06] albizures commented on #34
I can take a look at the implementation of rust, but yes, I agree with @devongovett, this shouldn't come out of the box, maybe a plugin?

[2017-12-06 18:08] steadicat commented on #3
It’s worth keeping in mind that, even if you don’t care about type-checking,`tsc` is still a very different compiler than Babel. Case in point, there was recently [an article](http://daverupert.com/2017/10/for-of-loops-are-bad/) bemoaning the output of a Babel `for..of` loop. `tsc` doesn’t have this problem.

On top of that, Babel 7 still doesn’t support some `tsc` features (namespaces and const e

[2017-12-06 18:16] micopc commented on #21
Hi, I think this has to do with the fact that the flag is --public-url which translates to publicUrl but the code in the method normalizeOptions of the Bundler class searches for options.publicURL. I can do a pull request but I just have one doubt: would it be better to rename every instance of it to publicUrl or just change it on normalizeOptions to something like `const publicURL = options.publi

[2017-12-06 18:28] 4rlekin commented on #13
@benjamn So do I understand correctly that the issue lies in whether it is necessary to recompile given dependency and if so using which `.babelrc`? Because if that's the case maybe we could choose the default behaviour, and allow the other via some CLI flag?

It does seem lika a band-aid of some kind though...

[2017-12-06 18:32] lastmjs commented on #3
Also, in my experience the TypeScript compiler has been very nice to work with as an embedded library.

[2017-12-06 18:47] thusitha92 opened #54 "Make parceljs.org documentation open source"
**Suggestion:**

I noticed that the documentation of https://parceljs.org is not hosted in a public repository.
By making it public, the mistakes in the documentation will automatically fix with the help from the community via pull requests.

An example use case is,
in the https://parceljs.org/transforms.html#postcss it says as,

`"autoprefixer": {
      "grid" true
}`

where a colon is missing in

[2017-12-06 18:51] thusitha92 commented on #54
I got to know the website repo is here.
https://github.com/parcel-bundler/website

[2017-12-06 18:51] #54 closed

[2017-12-06 18:51] webular opened #55 "Proxy"
Is there a way to define a proxy?  In webpack we are doing something like this:

[code]

[More details about webpack's devserver proxy here.](https://webpack.js.org/configuration/dev-server/#devserver-proxy)

[2017-12-06 19:08] davidnagli commented on #53
@lifeart That’s not the same error!!

[2017-12-06 19:10] webular opened #56 "babel transform error?"
error:

[code]

code:
[code]

Am I missing a babel transform?

here is my .babelrc

[code]

[2017-12-06 19:11] davidnagli commented on #53
The first one is just an issue with Parsel trying to use a port that’s already in use, the other error is an actual bug in Parcel’s code (an infinite recursive loop)

[2017-12-06 19:16] davidnagli commented on #56
Hi! Thanks for reporting the error!

I’m still new to the Parcel community, so I’m not experienced enough to know what the error means or how to fix it, but I can tell you that it looks VERY similar to the error from #19.

Maybe to two are connected in some way?

[2017-12-06 19:19] albinotonnina commented on #52
Same here

[2017-12-06 19:24] davidnagli commented on #19
@webular is having the same issue in #56… his example looks allot more minimal

[2017-12-06 19:25] DeMoorJasper opened #57 "Css not auto-updating if required from html"
🙋 feature request
Include css-loader (auto-refresh css) in the bundle if the css is declared in the html

🔦 Context
So for example if someone would use one big global css file in index.html like this, it would not auto-update
[code]

[2017-12-06 19:28] davidnagli commented on #19
Oh! I figured out why @NullVoxPopuli is getting this bug. The `.babelrc` provided he’s using has a syntax error.

[code]

Running this through `JSON.parse()` returns an error

[2017-12-06 19:29] davidnagli commented on #19
We need to add a try/catch around the `JSON.parse()` in `/src/utils/config.js:35:17` to through a better error whenever we encounter a syntax error with the users `.babelrc`

[2017-12-06 19:32] devongovett commented on #53
Going to close this since it is covered by #11.

[2017-12-06 19:32] #53 closed

[2017-12-06 19:34] DeMoorJasper commented on #36
I'll try fix this one

[2017-12-06 19:38] devongovett commented on #21
maybe normalizeOptions could support both `publicUrl` and `publicURL`?

[2017-12-06 19:40] devongovett commented on #47
hmm, this should work and there are tests for it. https://github.com/parcel-bundler/parcel/tree/master/test/integration/json

are you sure you have the right relative path?

[2017-12-06 19:51] devongovett commented on #55
I don't really think this should be the responsibility of the bundler... Can you just enable CORS and hit localhost:3001 directly?

Alternatively, you could build your own small server with express and use parcel as a middleware.

[code]

[2017-12-06 19:58] devongovett commented on #19
@jakoblind nice work! Want to make a PR to https://github.com/parcel-bundler/website with that guide?

Would be nice to have an additional section about setting up hot module reloading with react-hot-loader as well.

[2017-12-06 19:59] devongovett commented on #56
seems like maybe there is a parse error in the babelrc JSON?

[2017-12-06 20:02] davidnagli commented on #56
No there isn’t I checked…

In #19 (which is the exact same error message), the provided `.babelrc` actually does have a parse error. But I ran this one through `JSON.parse()` and it seems to be fine!

[2017-12-06 20:03] lostintangent commented on #21
I just ran into this same issue and was about to send out a PR, but I'll let @micopc take care of it :) @devongovett thanks for this awesome tool!

[2017-12-06 20:05] davidnagli commented on #57
How is this different from #36? Didn’t you already fix this #58??

[2017-12-06 20:15] ljharb commented on #40
In strict or sloppy mode, you can always use `Function(‘return this’)()` in every engine except CSP-enabled browsers (however, for those, you can use `window || self`.

[2017-12-06 20:18] DeMoorJasper commented on #57
#36 was a small bug with getBundleUrl, this is something in the bundler.
It does not include the css-loader.js module unless css is being imported from js.
So for example if someone would use one big global css file in index.html like this:
``
<link rel="stylesheet" href="./global.css" />
``
It would not auto-update

[2017-12-06 20:29] #21 closed

[2017-12-06 20:31] pke commented on #8
I can confirm that adding `--no-minify` solves the issue which was:

[code]

[2017-12-06 20:31] devongovett commented on #43
Fixed by #50.

[2017-12-06 20:31] #43 closed

[2017-12-06 20:39] albinotonnina commented on #19
@devongovett should I put my solution? Would you have a look at it again?
https://github.com/parcel-bundler/parcel/issues/19#issuecomment-349494197

[2017-12-06 21:08] nijikokun commented on #43
Awaiting release of this fix :+1:

[2017-12-06 21:08] g3r4n commented on #44
Seems to be fixed in #50 ?

[2017-12-06 21:10] alanbuchanan opened #60 "[Question] Can I use SCSS with parcel?"
In the docs, I saw the loader I can use for PostCSS. But I didn't see anything for SCSS or Sass. Can I use it with parcel, and if so what package do I need?

[2017-12-06 21:18] torosegon commented on #60
Built in. You need _node-sass_ package
https://github.com/parcel-bundler/parcel/blob/master/src/assets/SASSAsset.js

[2017-12-06 21:19] nijikokun commented on #43
I tried using master since I couldn't wait and I am still encountering this issue:

[code]

The line in question is (notice the url inside, maybe that is triggering it):

[code]

Here is me checking the contents of `is-url.js` to confirm that the code I am using has the changes which it does:

[code]

[2017-12-06 21:22] #60 closed

[2017-12-06 21:28] nijikokun commented on #43
I have found the issue, there was a `.cache` directory that needs to be blown away first. It works as intended.

[2017-12-06 21:55] denar90 opened #61 "Add Brunch to benchmarks"
Hi. Is it possible to add [Brunch](https://github.com/brunch/brunch) to benchmarks?

[2017-12-06 22:15] thejameskyle commented on #61
I'm going to close this for the same reason as #10. Things are just starting on Parcel and we should focus on making it solid before we go comparing an contrasting it to everything in the universe.

[2017-12-06 22:15] #61 closed

[2017-12-06 22:16] thejameskyle opened #62 "Make current parcel version part of cache keys"
It would be good if newer versions of Parcel invalidated the cache

[2017-12-06 22:22] thejameskyle commented on #51
I think we're probably a ways off from something like this. I'd rather close it and see about a plugin system that would allow you to do this in the future within the ecosystem

[2017-12-06 22:22] #51 closed

[2017-12-06 22:29] gabrielsanterre commented on #47
Maybe not in my code but it should be the right one in the`moment-timezone` package. Also when I converted my data.json file to data.js and added `export default` at the beginning parcel successfully resolved it. So I don't think it's a path issue.

[2017-12-06 22:31] gabrielsanterre commented on #47
In the test it's `require('./file.json')`, maybe it's an issue using `import file from './file.json'` ?

[2017-12-06 22:32] devongovett commented on #57
I believe a parallel JS bundle will get created alongside the CSS, but it doesn't currently get inserted into the HTML. We should do that similar to how we do it for the opposite case (CSS imported from JS). https://github.com/parcel-bundler/parcel/blob/master/src/packagers/HTMLPackager.js#L11

[2017-12-06 23:23] thejameskyle commented on #13
I'm generally against doing any kind of transforms on `node_modules`.

Basing things off of `package.json#engines#node` and only using `babel-preset-env` would be an improvement, but we'd still have the problem of unsupported APIs in older versions of Node.

I suppose if someone shipped:

[code]

We could deal with that a bit easier since we can polyfill and transform all the relevant bits.

I'm s

[2017-12-06 23:43] thejameskyle commented on #36
Moving to #58

[2017-12-06 23:43] #36 closed

[2017-12-06 23:43] drewhamlett commented on #25
This is so common across every code base I see.  I wish node just supported it out of the box.

[2017-12-06 23:45] #44 closed

[2017-12-06 23:48] thejameskyle commented on #13
I'm generally against doing any kind of transforms on `node_modules`.

Basing things off of `package.json#engines#node` and only using `babel-preset-env` would be an improvement, but we'd still have the problem of unsupported APIs in older versions of Node.

I suppose if someone shipped:

[code]

We could deal with that a bit easier since we can polyfill and transform all the relevant bits.

I'm s

[2017-12-06 23:58] treshugart commented on #17
Canary definitely loads up front.

[2017-12-07 00:16] spalger commented on #1
@tnrich Checkout https://github.com/parcel-bundler/parcel/issues/13

[2017-12-07 00:40] sarahbethfederman opened #64 "linting on build?"
Is there any functionality like eslint-loader for webpack? Plans for it? Currently I only see linting errors if I explicitly run an eslint command

[2017-12-07 00:47] thejameskyle commented on #64
I guess that depends on how generic of a tool we want to make Parcel.

It's interesting because you could reuse the same logic for caching to decide which files to run tools like linters on.

Eventually I hope to see an extensible plugin system so if that happens people can do whatever they want.

[2017-12-07 00:56] thejameskyle opened #65 "Governance"
Hey, just wanted to start this earlier rather than later. A couple things:

- It'd be great to start creating GitHub teams to take on difference responsibilities: Core, Docs, Babel/TypeScript/Sass, etc
- To help organize ideas and feature requests, we could adopt an RFC process from tools like [Yarn](https://github.com/yarnpkg/rfcs)/[Rust](https://github.com/rust-lang/rfcs)/etc

[2017-12-07 00:58] davidnagli commented on #65
+1

[2017-12-07 00:58] yeskunall commented on #65
What's the vetting process look like for this @thejameskyle? 😁

[2017-12-07 00:59] wavebeem opened #66 "Config files do not invalidate cache"
Create a new Parcel application with CSS modules and start it via `parcel index.html` but DO NOT create a `.postcssrc` config file yet.

Quit the Parcel server then create a `.postcssrc` file with `{ "modules": true }` as the content.

Start the Parcel server again.

Note that CSS modules do *not* work correctly at this point.

In order to make CSS modules work now you must `rm -rf .cache` and res

[2017-12-07 00:59] devongovett commented on #64
Seems to me like this might be better served by an in-editor tool, or a pre-test command, but happy to discuss.

[2017-12-07 01:06] sarahbethfederman commented on #64
I think I agree. I am porting from webpack and I think I'll just add husky and a precommit command. Was just curious if I was doing something wrong since it was reading my other configs and that's why I wasn't getting it :)

[2017-12-07 01:39] davidnagli commented on #13
Does Babel currently transpire node_modules?

[2017-12-07 01:39] znck commented on #5
I would suggest you use [vue-component-compiler](https://github.com/vuejs/vue-component-compiler), this would keep parcel at feature parity with officially maintained build utils like vue-loader etc.

https://github.com/vuejs/vue-component-compiler/issues/28 is awaiting final design review. The example implementation covers everything discussed in the thread, you should join above design thread to

[2017-12-07 01:40] jellevandenhooff opened #68 "Feature request: source map support"
It would be great if parcel managed source maps.

[2017-12-07 01:46] davidnagli commented on #64
I feel like it would be really awesome if we developers could have a tool that automatically lints, tests, transpiles, bundles and minifies code without any additional configuration.

I get that this is might be outside the scope of a traditional bundler, but how awesome would it be if you could just type in the CLI command, and it would run this whole process on watch for you.

This really depend

[2017-12-07 01:48] davidnagli commented on #68
Would we only need source maps for JavaScript files?

[2017-12-07 01:49] wyqydsyq commented on #3
Interestingly the [first issue ever](https://github.com/TypeStrong/discussions/issues/1) is about normalizing non-standard `tsc` compiler options from different libraries, if the `transpileOnly` option from `ts-loader` mentioned there were to be adapted as a standard option, Parcel could run `tsc --transpileOnly` and `tsc --noEmit` in separate threads to get both fast transpilation and TypeScript

[2017-12-07 01:53] hearsay316 opened #69 "请问这个是什么问题? (en: What is the problem?)"
[code]

[2017-12-07 01:59] jianzhou520 commented on #69
"Maximum call stack size exceeded". Just review your file dependencies

[2017-12-07 02:00] thejameskyle commented on #69
This is a windows issue #11, which has been resolved in #48 but is yet to be released.

[2017-12-07 02:00] #69 closed

[2017-12-07 02:00] thejameskyle commented on #62
Moving to #67

[2017-12-07 02:00] #62 closed

[2017-12-07 02:02] hearsay316 commented on #69
Then how should I solve it ?

[2017-12-07 02:03] micooz opened #70 "CSS Module does not work"
Thanks for your awesome tool.

**parcel** document gives a brief introduction to CSS Modules but I stuck at my first try to use it:

[code]

I quickly cloned a demo project, add `node-sass`, import `index.scss` as CSS Modules and want to see how it works but unfortunately it doesn't work.

**Minimal example to reproduce:** https://github.com/micooz/react-parcel-example/commit/44e8c2bdb6181476af308

[2017-12-07 02:04] thejameskyle commented on #69
Wait for the next version of Parcel, there's nothing else you can do right now unless you want to link parcel locally.

[2017-12-07 02:08] eXon opened #71 "Doing server side rendering"
Parcel looks like the perfect bundler, I've been looking for a library just like this for a long time. The only missing piece for me is server-rendering. I would love to give a hand where needed because this project feels like a big improvement over the dreadful config I've been dealing with for a long time.

It looks like the bundle result is working like a charm with Node.js. The only problem I'

[2017-12-07 02:08] Cacivy opened #72 "Getting Started Error"
`npm install -g parcel-bundler`

OS: windows 10

[code]

[2017-12-07 02:09] hearsay316 commented on #69
Thank you very much for your reply, I hit pesticide.

[2017-12-07 02:12] hearsay316 commented on #72
我也遇到了,说是在版本48里解决了. https://github.com/parcel-bundler/parcel/pull/48  .你可以等等看.

[2017-12-07 02:14] stephen commented on #68
Sourcemaps for all types (i.e. css) seem nice.

[2017-12-07 02:54] eXon commented on #71
Here is the gist of what I'm trying to do:

server-entry.js
[code]

Bundling this with `parcel build entry-server.js --no-minify --out-dir dist-server --public-url dist`

server.js
[code]

[2017-12-07 03:21] devongovett commented on #68
There are many problems with source maps as they exist currently. I haven't yet found a solution that works well anywhere, so open to suggestions here.

Problems I have found:

* They are very slow to generate.
* They are very slow to load in browsers.
* They don't really help with debugging - variables are still potentially renamed in the debugger. You still end up looking at the compiled source

[2017-12-07 03:46] proto1994 opened #73 "Uncaught ReferenceError: require is not defined"
**First, this is a great tool.**
when I use it,  built show was correct, but console prompts **Uncaught ReferenceError: require is not defined** ,

node: 6.10
npm: 5.5.1

[2017-12-07 04:03] hyingreborn commented on #11
when we can use the version 1.0.3 ?

[2017-12-07 04:21] spalger commented on #68
I mostly agree, but I think that something along the lines of webpack's cheap-source-map devtool offers a good compromise.

 - It's faster than standard source maps
 - Shows the compiled source
 - Helps browsers with stack traces, remap breakpoints after a bundle is rebuilt, and supports cmd+p for finding code by file name.

I've been only been using parcel for a couple days and have groaned more

[2017-12-07 04:41] thejameskyle commented on #13
@davidnagli Babel itself defaults to ignoring `node_modules`. Parcel (currently) undoes that behavior and will run it on `node_modules` if it finds a `.babelrc`

[2017-12-07 04:44] devongovett commented on #11
Published v1.0.3.

[2017-12-07 04:44] #11 closed

[2017-12-07 04:51] devongovett commented on #72
Released a fix in v1.0.3.

[2017-12-07 04:51] #72 closed

[2017-12-07 04:57] devongovett commented on #70
Currently, you need to install `postcss-modules` in your app, and add this to your `.postcssrc` file:

[code]

This is documented briefly at https://parceljs.org/transforms.html#postcss. It's necessary to do this because we don't want to include the classes in the JS bundle by default for people that aren't using CSS modules.

Perhaps there is a better way we could detect CSS modules so we don't n

[2017-12-07 05:00] devongovett commented on #69
Released in v1.0.3.

[2017-12-07 05:05] devongovett commented on #52
I think the uv_close issue might be https://github.com/paulmillr/chokidar/issues/612

[2017-12-07 06:18] devongovett commented on #52
Worked around this issue by disabling FS events on macOS for the tests. Other general test fixes here as well: #74

[2017-12-07 06:18] #52 closed

[2017-12-07 06:20] devongovett commented on #73
Can you provide more info so we can reproduce your issue? Thanks!

[2017-12-07 06:31] #55 closed

[2017-12-07 07:01] micooz commented on #70
Thanks for your help, problem resolved.

[2017-12-07 07:08] jellevandenhooff commented on #68
I've found source maps invaluable in debugging hairy stack traces.

Re. compile speed: The impact on code generation and asset transformation can be fairly large as the output might double size. However, with parcel's asset cache that should be a one-time cost for most files. The other impact is bundling, which I think means concatenating the input source maps and seems cheap enough based on my re

[2017-12-07 07:15] sanketsahusoft commented on #73
![image](https://user-images.githubusercontent.com/1733433/33703081-803d0c02-db4c-11e7-8282-ac4d547efed5.png)

Same here!

[2017-12-07 07:20] sanketsahusoft commented on #3
I would switch to `parcel` once it has built-in support for TypeScript. If TypeScript needs to be configured then there is no point.

I can configure that with Webpack. As a developer, I want a unified and single solution with zero-configuration.

[2017-12-07 07:21] devongovett commented on #3
Cool, sounds like we should go with the regular TypeScript compiler for compatibility by default. I think we can start with `transpileModule` for now to unblock people quickly, and maybe add type checking later.

One unfortunate thing about this vs using babel is that it will probably require multiple parses/codegens, which I was trying to avoid for performance. We don't really want to reimplement

[2017-12-07 07:39] jakoblind commented on #73
I had the same issue. I solved it by running node 8. @devongovett is node 8 a requirement for running parcel? If it is, then it should be stated somewhere in the docs.

[2017-12-07 07:54] jakoblind commented on #71
Another way to do server side rendering is to run your backend code through babel and then import your React components straight from your backend ([better explanation](http://blog.jakoblind.no/getting-started-with-universal-rendering/)). Could that be an option for you?

[2017-12-07 08:07] proto1994 commented on #73
@jakoblind well. As you said, I upgraded node and solved it.Thanks.
node: 9.2.0
npm: 5.5.1

[2017-12-07 08:32] obidnov opened #77 "RangeError: Maximum call stack size exceeded"
Hello, i started an empty project from the manual.

v8.9.1

Server running at http://localhost:1234
⏳  Building index.html...
(node:18412) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): RangeError: Maximum call stack size exceeded
(node:18412) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not

[2017-12-07 08:55] hearsay316 commented on #77
You can update version 1.3

[2017-12-07 09:26] chong0808 opened #79 "Uncaught ReferenceError: require is not defined"
parcel version  is 1.0.3
index.html
[code]
index.js
[code]
[code]

bundled file
dist/parcel.js
[code]
![q](https://user-images.githubusercontent.com/16454649/33707836-b9be6878-db73-11e7-9122-190ebeb6bc87.png)

[2017-12-07 09:33] lifeart opened #80 "Cannot find module {index.html path} from '.'"
![image](https://user-images.githubusercontent.com/1360552/33708190-c8dc6536-db4a-11e7-98da-751f34d19290.png)

index.html content:

[code]

/ Win10 / Node 7 / Parcel 1.3

[2017-12-07 09:49] thejameskyle commented on #77
I'm assuming this is the same Windows issue that was fixed in v1.0.3. See #11.

Also, please be sure to [search for existing issues](https://github.com/parcel-bundler/parcel/issues?utf8=%E2%9C%93&q=Maximum+call+stack+size+exceeded) before creating a new one

[2017-12-07 09:49] #77 closed

[2017-12-07 09:49] chee commented on #43
thank you, everyone.

perhaps the whole cache should be invalidated when parcel updates

[2017-12-07 09:50] thejameskyle commented on #79
Duplicate of #40. Please search through issues before opening a new one as it reduces work a lot

[2017-12-07 09:50] #79 closed

[2017-12-07 09:51] thejameskyle commented on #73
This is a duplicate of #40, please search through issues before creating new ones

[2017-12-07 09:51] #73 closed

[2017-12-07 10:09] thejameskyle commented on #43
That was added in #67

[2017-12-07 10:13] thejameskyle commented on #3
@d4rkr00t Maybe you want to take this on? 😉

[2017-12-07 10:20] thejameskyle opened #82 "Use parse-json for more helpful error messages"
[code]

https://github.com/sindresorhus/parse-json

[2017-12-07 10:23] KatSick opened #83 "index.html changes does not reload browser"
When i change index.html it does not reload browser. Where this is configured ?

[2017-12-07 10:30] thejameskyle commented on #83
Some relevant bits of code:

https://github.com/parcel-bundler/parcel/blob/4cc343b9bd866d3229925551f53d3f4f6d182ecf/src/Bundler.js#L401-L417

https://github.com/parcel-bundler/parcel/blob/4cc343b9bd866d3229925551f53d3f4f6d182ecf/src/HMRServer.js#L16-L37

https://github.com/parcel-bundler/parcel/blob/4cc343b9bd866d3229925551f53d3f4f6d182ecf/src/builtins/hmr-runtime.js#L19-L33

[2017-12-07 10:32] thejameskyle commented on #68
@jasonLaster You were talking about some improvements to source maps the other day. Is there any work you can point to?

[2017-12-07 10:36] ajaymathur commented on #82
cool, need to replace all the `JSON.parse` . Can I take a shot on this?

[2017-12-07 10:36] thejameskyle commented on #82
Yeah for sure!

[2017-12-07 10:42] thejameskyle commented on #66
We should probably come up with a better story on how to create cache keys.

Maybe `Asset` can expose a function to add information to the cache key

[2017-12-07 10:55] Raathigesh commented on #80
Tried to reproduce this with the following versions but couldn't.

Parcel - 1.0.3
Node - 7.0.0
Windows - 10.0.16299.64

[2017-12-07 10:56] Raathigesh commented on #83
Shall I take a look at this?

[2017-12-07 10:57] KatSick commented on #83
@Raathigesh if you can. I also checking, but does not see the problem now

[2017-12-07 11:03] lifeart commented on #80
@Raathigesh
[parcel-test.zip](https://github.com/parcel-bundler/parcel/files/1538788/parcel-test.zip)

[2017-12-07 11:06] lifeart commented on #80
@Raathigesh  looks like my file structure issue

[2017-12-07 11:06] #80 closed

[2017-12-07 11:09] albinotonnina commented on #83
this guy refreshes the page, in a webpack environment:
[https://github.com/glenjamin/webpack-hot-middleware/issues/237#issuecomment-321553819](https://github.com/glenjamin/webpack-hot-middleware/issues/237#issuecomment-321553819)

[2017-12-07 11:42] lifeart opened #86 "🐛 link to static html could'not be resolved, win10, parcel 1.0.3"
index.html
[code]

[code]

[2017-12-07 12:00] bq-hentai opened #87 "typo"
In README, the **HOW IT WORK** section,

`Once the asset tree **as** been constructed, the assets are placed into a bundle tree.`

Maybe it should be

`Once the asset tree **has** been constructed, the assets are placed into a bundle tree.`

:P

[2017-12-07 12:04] lifeart opened #88 "Cannot resolve dependency"
index.js
[code]

![image](https://user-images.githubusercontent.com/1360552/33714371-c74b3250-db5f-11e7-9d91-e4e42810152b.png)

[2017-12-07 12:09] g3r4n commented on #8
the issue come from the call to [toEstree](https://github.com/parcel-bundler/parcel/blob/4cc343b9bd866d3229925551f53d3f4f6d182ecf/src/transforms/uglify.js#L10) function from the babel-to-estree module. Two modules babel-types and babylon-walk are imported but never used. Look like something from the conception was forget to be developed. @devongovett or @thejameskyle can you explain what you were

[2017-12-07 12:16] lifeart opened #89 "Question: How I can add resolver alias / prefix / postfix ?"
if I do `import AngularController from 'modules/common/controllers/defaultController';`,
how I can specify `./src` prefix for this resolution?

if I need alias for import `jquery-ui/datepicker`  like `jquery-ui/lib/dist/datepicker`, how I can do it?

[2017-12-07 12:26] davidnagli commented on #87
Why don’t you just change it and make a PR? :)

[2017-12-07 12:42] Raathigesh commented on #83
#90 works but not sure whether this is the way to go about this.

[2017-12-07 13:20] johanbaath opened #91 "Exclude styles from PostCSS"
I have some legacy .less files that I have to import, but it seems they are passed through PostCSS as well. Is there any way to disable this behaviour? I still want to use PostCSS for my regular .css files.

[2017-12-07 13:29] davidnagli commented on #91
Why don’t you want the `.less` files to be passed through PostCSS?

[2017-12-07 13:33] eXon commented on #71
@jakoblind I'm used to webpack and requireing image and assets with a hash name that would not be easily known just with babel, but it seems like parcel doesn't work that way. I've tried it and it seems to work pretty nicely :D

I'm also ignoring requires that are not useful in SSR with a babel plugin. It's just perfect. However, I'm blocked by #40 pretty badly. The client is crashing because of t

[2017-12-07 13:38] johanbaath commented on #91
In my case it's because PostCSS reports some errors that it can't parse in that file. I'm importing .less files from Ant Design which I have customized some variables for:

[code]

Since I use `cssnext` it fails in: `postcss-calc`. It would just be easier for me to skip PostCSS for this file I guess 😃 .

[2017-12-07 13:45] erguotou520 opened #93 "Error path for asset's path and error while building."
Here is my [demo repo](https://github.com/erguotou520/simple-vue-parcel)
There are two errors:
1. The png file can't show in the page as it's `src` attribute is not right(missing prefix `/dist/`).
2. Error occurred while building with command `parcel build index.html`:
[code]

[2017-12-07 13:52] malonehedges opened #94 "Cannot read property 'start' of undefined"
Hi,

I have three files which I will put below. When using the `parcel watch src/index.html` or `parcel src/index.html` commands, everything is fine and works great. However, using `parcel build src/index.html` fails with the following error:

[code]

Also would like to point out that doing `parcel build src/index.js` fails, but `parcel build src/style.css` works.

And now the files:

### `src/ind

[2017-12-07 14:19] bq-hentai commented on #87
I will next time :+1:

[2017-12-07 15:05] annnhan opened #95 "Webstorm prompt grammatical errors when i use 'import()' for code splitting"
webstorm Prompt: “'from' expected”.

It is suggested to support AMD writing. For example:

    require('./page', function (page) {
       // do something ...
    })

or:

    require('./page').then(function (page) {
       // do something ...
    })

[2017-12-07 15:59] Ontopic commented on #94
For me a temporary fix was adding the --no-minify flag

[2017-12-07 16:02] jaredpalmer opened #96 "Imported image paths during development"
I am having issues with image asset paths during development and production.

During dev, if i do `import logo from './logo.svg` this becomes => `1230981023.png`.
During build, `import logo from './logo.svg` this becomes => `/dist/1230981023.png`.

This may have to do with a public URL issue during dev but i'm not sure.

[2017-12-07 16:07] chee commented on #71
@eXon that is fixed in parcel 1.0.3

here, i think: https://github.com/parcel-bundler/parcel/commit/bb7534945afe76c655901e4d51cab8ca8a7e7613#diff-ed26e1346331966874d8103cdcdbed47

[2017-12-07 16:10] chee commented on #94
this is a duplicate of https://github.com/parcel-bundler/parcel/issues/8

[2017-12-07 16:22] babsonmatt opened #97 "Cannot find module 'less'"
Do I need to do anything special to import a less file?  Apologies if I'm missing the obvious!

[2017-12-07 16:27] DeMoorJasper commented on #97
you need to have the less package installed locally
https://www.npmjs.com/package/less

[2017-12-07 16:31] babsonmatt commented on #97
Just realized that, haha, thanks @DeMoorJasper

[2017-12-07 16:31] #97 closed

[2017-12-07 16:31] chee commented on #95
@annnhan i tried this in Webstorm, and i can't recreate it.

what version of Webstorm are you using?

have you got the correct Language Version selected for JavaScript in the Languages & Frameworks section in your settings?

dynamic import, `import()`, is a real life stage 3 proposal https://github.com/tc39/proposal-dynamic-import

[2017-12-07 17:23] jouni-kantola commented on #17
@devongovett: What are your thoughts, should parcel allow for dynamic imports of other stuff than js/css? If not, I guess this issue can be closed.

[2017-12-07 17:44] wavebeem commented on #66
I haven't dug into Parcel internals at all yet, but is there any concept of dependent files that will trigger a rebuild?

[2017-12-07 17:59] francocorreasosa opened #99 "ReferenceError: assignment to undeclared variable require"
Hey, I've setup Parcel in an existing React project and got this:
[code]
Maybe it's not importing modules?

Thanks!

[2017-12-07 18:02] #87 closed

[2017-12-07 18:18] spalger opened #100 "Report build errors to the browser?"
This has happened to me more than a couple times:

 - make some changes
 - switch to the browser
 - wonder why my changes are showing up
 - switch back and forth, refresh
 - checked the console and realized the build was failing

Perhaps parcel could notify the browser on build failures via the HMR socket, or refuse to serve the build assets if the build failed?

[2017-12-07 18:32] francocorreasosa commented on #99
Duplicate #40

[2017-12-07 18:32] #99 closed

[2017-12-07 18:43] devongovett commented on #100
Great idea! Want to take a stab at it? Relevant files are:

https://github.com/parcel-bundler/parcel/blob/master/src/HMRServer.js
https://github.com/parcel-bundler/parcel/blob/master/src/Bundler.js#L134

[2017-12-07 18:44] devongovett commented on #95
This sounds like an editor issue. The `import()` syntax is not specific to parcel.

[2017-12-07 18:44] #95 closed

[2017-12-07 18:44] #94 closed

[2017-12-07 19:45] ckken opened #101 "import()"

[2017-12-07 19:46] #101 closed

[2017-12-07 19:47] meiriko commented on #70
@micooz I tried it too but it didn't work, even after cloning your repo and adding the postCss. Do you mind creating a commit with the working version and post here the hash so I can clone it and see it working? Thx

[2017-12-07 19:52] ckken opened #102 "import('/${key}') is no work"
Dynamic is work. But it work for webpack

[2017-12-07 20:10] ajaymathur commented on #100
@spalger can I take a look at it? 🙂

[2017-12-07 20:14] spalger commented on #100
@ajaymathur this is what I have currently https://github.com/parcel-bundler/parcel/compare/master...spalger:notify-browser-on-error

[2017-12-07 20:23] #82 closed

[2017-12-07 20:26] ajaymathur commented on #100
sweet 💯

[2017-12-07 20:27] davidnagli commented on #65
For the time being, what’s the process for becoming a member in the Parcel organization?

[2017-12-07 20:28] davidnagli commented on #102
Can you elaborate a bit more?? I can’t really explain what you’re saying “dynamic is work”

[2017-12-07 20:33] davidnagli commented on #19
@thejameskyle How does this issue have anything to do with #15??? They are completely different issues!!!

[2017-12-07 20:42] devongovett commented on #68
The facebook metro bundler team just extracted their source map generator into a separate module https://npmjs.com/metro-source-map thanks to @cpojer. Here's an article about how it is works https://medium.com/@david.aurelio/medium-fast-source-map-generation-for-react-native-ea5549007c18

Perhaps we can use that?

[2017-12-07 20:46] philipodev commented on #89
would'nt [babel-plugin-module-alias](https://www.npmjs.com/package/babel-plugin-module-alias) do the trick since `parcel` is using your `.babelrc`?

[2017-12-07 20:47] shawwn opened #103 "Add a gitter.im banner to the project's README / community chat"
If you visit e.g. https://github.com/NicolasPetton/Indium, at the top of their README you can click the "join chat" button:

![image](https://user-images.githubusercontent.com/59632/33737810-05b20cb0-db5d-11e7-8a9e-dcde4400af37.png)

That throws you into their [lobby](https://gitter.im/indium-emacs/Lobby) which is quite helpful for learning the ropes.

Would Parcel benefit from this? It only takes

[2017-12-07 21:01] devongovett commented on #65
@davidnagli how would you like to contribute?

[2017-12-07 21:03] epitaphmike commented on #25
I started by just attempting to do a "quick switch" from webpack to parcel to see how easy it would be and what results would be produced on a medium to large sized project. **The alias issue was the first hurdle**. As I started resolving those issues I came across a number of individual gotchas and bumps.

1. When processing files, if you accidentally have an empty sass file in one of your direct

[2017-12-07 21:12] shawwn commented on #65
I'd like to set up [gitter](https://gitter.im/) support if it seems like a good idea, but I'd need to become a member of the org. See #103

It'd give newcomers a place to chat and figure things out together.

[2017-12-07 21:55] Zac-Garby opened #105 "Can't find variable: require"
🐛 bug report

I've followed the Getting Started section on the website exactly, but when I run `parcel index.html` and open the URL in my browser, I get an error in my console saying `ReferenceError: Can't find variable: require`.

### 🎛 Configuration (.babelrc, package.json, cli command)

[code]

### 🔦 Context
I'm really just trying to set up a basic project with parcel

### 🌍 Your Environment

|

[2017-12-07 22:00] Zac-Garby commented on #105
I've realised now what the problem was. In my `index.html`, when I loaded `index.js`, I specified the charset as UTF-8. If I don't do this, it works fine with no error.

[2017-12-07 22:00] Zac-Garby commented on #105
Actually, I'll reopen this as I think it's still a bug.

[2017-12-07 22:02] simoncave opened #106 "Babel (babel-preset-env) breaks inlining via fs.readFileSync(...)"
Repro project: https://github.com/simoncave/parcel-babel-inline-test

### 🤔 Expected Behavior

According to [Parcel's "Assets" documentation](https://parceljs.org/assets.html):

When successful, the inlining should directly replace `fs.readFileSync(...)` with the asset being inlined. In the case of [this example](https://github.com/simoncave/parcel-babel-inline-test/blob/master/sayHello.js#L4), it

[2017-12-07 22:03] shawwn commented on #105
I'm curious: Could you paste the code that caused the error? Where did you
specify the charset?

Internationalization is important, so if there are errors when specifying
an encoding, it's worth looking into.

On Thu, Dec 7, 2017 at 4:00 PM, Zac Garby <notifications@github.com> wrote:

[2017-12-07 22:17] Zac-Garby commented on #105
Here's my index:

[code]

The charset is specified on the `charset="utf-8"` attribute.

[2017-12-07 22:24] d4rkr00t commented on #3
I would love to, but seems like it's a little bit too late :)

[2017-12-07 22:26] shawwn commented on #105
Could you provide the js file too? I tried to repro the issue but there weren't any problems.

Here's what I did:

[code]

Navigating to localhost:1234 and viewing source yields:

[code]

Also, could you post the full stack trace of the error? Maybe that will give some clues.

[2017-12-07 22:28] Zac-Garby commented on #105
This is the `index.js`:

[code]

And as for the full stack trace, I can't seem to reproduce the error again. It's kind of weird, because it happened about 5 times then I left it for a while and it's stopped...

[2017-12-07 22:30] shawwn commented on #105
Ahh, is it still in your terminal history?

It's always useful to know what newcomers run into the first time they use a project. But no worries if you can't find it.

[2017-12-07 22:32] Zac-Garby commented on #105
I'm going through my recent commands and I've done a reinstall of parcel-bundler (`yarn global add parcel-bundler`), and I think this was after I first got the error. Apart from that, I can't find anything.

[2017-12-07 22:33] shawwn commented on #105
Drat! It sounds like your reinstall fixed the mysterious problem.

Well, if you run into it again, make some noise.

[2017-12-07 22:42] benderTheCrime commented on #9
Happy to create a separate issue as well, but I'd also like to see comparisons against Rollup and some other bundlers!

[2017-12-07 23:34] shawwn opened #107 "Tutorial for adding a new language"
🙋 feature request

Is this the right place for documentation requests?

It would be good to write a tutorial on how to add support for a new language, from start to finish. It could be a very basic language for tutorial purposes, or a more established language like [LightScript](http://www.lightscript.org/).

That way, both plugin authors and new contributors would know what to do to add support f

[2017-12-07 23:54] aantthony commented on #93
I'm having the same issue. You can do `parcel build index.html --no-minify` but it still won't work since it adds '/dist/' to every path in the outputted HTML, resulting in a 404.

[2017-12-07 23:55] shawwn opened #108 "Switch from MD5"
I noticed src/Bundle.js:139 uses md5: https://github.com/parcel-bundler/parcel/blob/a1a190bb19a2c625ad3af9f4072fbbc8f342f746/src/Bundle.js#L139

It would be good to switch this from `'md5'` to `'sha256'` for now, and ideally switch to SHA-512/256 or SHA-3 later.

[2017-12-08 00:01] shawwn commented on #108
(Actually, MD5 is used in a few places.)

[2017-12-08 00:04] marcioj commented on #8
I was giving a look into this issue. And maybe it is not related to uglify-js. At least in my tests.

Like @pke I have noticed this error:

[code]

But it happens because the html used as example is not 100% correct

[code]

htmlnano which is used to minify the html also minifies script tags. Because the script tag is not closed it understands `</div></body>` as the script content and sends to ugl

[2017-12-08 00:30] davidnagli commented on #108
I don’t think that SHA-256 (or any SHA hashing algorithm) makes sense for what we’re doing. We’re not using hashing for anything that needs to be cryptographically secure, so using the Secure Hashing Algorithm, is overkill.

Especially since we’re going for performance, I think the inherent performance penalty of using a cryptographic hashing algorithm, is unnecessary for what we are using the has

[2017-12-08 00:34] davidnagli commented on #107
This sounds like a great idea. Do you wanna write it?? I would love to help out too

[2017-12-08 00:35] devongovett commented on #107
This gives some info already https://parceljs.org/asset_types.html

[2017-12-08 00:36] davidnagli commented on #107
Ya it gives some, but I think he means a full end-to-end tutorial on how to add support for a new language.

[2017-12-08 01:04] davidnagli commented on #105
@Zac-Garby Is it possible the first time you did it (when you got the error) you were doing something like the #40? The errors look pretty similar.

[2017-12-08 01:08] micooz commented on #70
@meiriko Here it is: https://github.com/micooz/react-parcel-example/commit/77d495992645733881156c276b56cd53f50b0187

You may need to upgrade `parcel-bundler` to v1.0.3 to make it work.

[2017-12-08 01:08] davidnagli commented on #65
@devongovett From what I can see some of the most pressing things in this projects is “issue triage”, I try to help as much as I can but it would be great if I could add labels and close issues so I can save you and @thejameskyle some time 😇

I also wanna help in any other way possible… I’m a student so I have plenty of free time to contribute to open source. Just tell me anything to work on, and

[2017-12-08 01:14] d3viant0ne commented on #108
Given I / we just did this, @davidnagli is correct, there is no need to use a crypto hash & it has an adverse effect on performance.

https://github.com/d3viant0ne/hash-perf

`xxHash` has plenty of different implementation options & is significantly faster ( in a non-js form ) than using a `crypto` hash.

If your intent is to use pure javascript / node, MD4 is your fastest bet.

[2017-12-08 01:21] shawwn commented on #108
If cryptographic strength isn't needed, there's probably no reason to switch from md5. It's built in, so anything else would be an extra dependency.

That said, if performance is a consideration, here are some hard numbers, based on https://medium.com/@drainingsun/in-search-of-a-good-node-js-hashing-algorithm-8052b6923a3b

https://gist.github.com/shawwn/a2e51592ff9d97bfb06f1f14b5396f21

`farmhash-

[2017-12-08 01:23] davidnagli commented on #108
@shawwn Did you see the link that d3viant0ne posted?

[2017-12-08 01:28] shawwn commented on #108
Was busy running benchmarks. :)

Nice link! I'll save that for future reference. I wish it had compared sha256 too.

It's usually a better idea to let profilers tell us where bottlenecks are. I'll close the issue for now. Feel free to re-open it if it's valid.

[2017-12-08 01:28] #108 closed

[2017-12-08 01:28] davidnagli commented on #108
@d3viant0ne So what do you think, should we use `MD5`, or `farmhash-hash64`?

Also, is there a reason that you specified MD**4** rather than MD**5**?

[2017-12-08 01:38] davidnagli commented on #34
@albizures I think you misread/miss-interpreted what Devon said. He said that it **should** be part of parcel core!

Parcel is trying to stay away from plugins, and trying to add all essential stuff directly to the core, to avoid the configuration mess of other tools like webpack.

[2017-12-08 01:43] devongovett commented on #65
@davidnagli @shawwn created a triage team to start with and invited you both.

[2017-12-08 01:44] shawwn commented on #103
Ok, it turns out only the owner can create a gitter.im community.

@devongovett if you go to https://gitter.im/ and create the parcel-bundler channel, I can handle setting it up and adding it to the README.

[2017-12-08 01:45] babsonmatt opened #109 "Inconsistent output when using antd via parcel / webpack"
### 🎛 Configuration (.babelrc, package.json, cli command)

[code]

### 🤔 Expected Behavior - create-react-app
![image](https://user-images.githubusercontent.com/853220/33746993-856a4b44-db8e-11e7-8081-442e8ae00fbb.png)

### 😯 Current Behavior - parcel
![image](https://user-images.githubusercontent.com/853220/33747001-9293f5ea-db8e-11e7-9217-9016ede507d7.png)

### 🔦 Context
I'm not at all sure what

[2017-12-08 01:45] shawwn commented on #103
(Actually, name it "parcel" if possible. It'd be a bit easier to discover.)

[2017-12-08 01:46] d3viant0ne commented on #108
@davidnagli - If the desire is to use `crypto` & not add a library with or without bindings, `MD4` is the most performant in general.

Something built with C++ is obviously going to be significantly faster, we (Webpack) decided `web assembly` was a nice happy medium between performance & usability given you can use it natively in node 8.

Regardless of what algorithm you use, leveraging anything i

[2017-12-08 01:50] shawwn commented on #65
@devongovett @davidnagli @thejameskyle I created a slack workspace and invited all of you. I'll transfer primary ownership to @devongovett.

[2017-12-08 01:50] yeskunall commented on #65
I can help improve docs and help in any other way if you'd like @devongovett. ✋🏽

Not sure if a team exists for that or not, but yeah. Down to help.

[2017-12-08 01:54] shawwn commented on #107
@davidnagli Sure, if you want to collab on it you can hop into Slack. (Check your email for an invite.)

[2017-12-08 02:29] davidnagli commented on #109
So are you trying to set up Create-React-App **and** Parcel, or are you trying to replace Create-React-App with Parcel?

[2017-12-08 02:50] davidnagli opened #110 "Fork Create-React-App"
🙋 feature request

What if we fork create-react-app and replace WebPack with Parcel to make create-react-app more performant.

90% of create-react-app is just dealing with WebPack boilerplate, so if we could reimplement create-react-app using Parcel we can reduce the size of create-react-app and show people how awesome Parcel is.

[2017-12-08 03:04] davidnagli opened #111 "Better failover for EADDRINUSE"
🙋 feature request

I’ve noticed people complaining about this issue before, and I’ve encountered it accidentally several times. If you already have something else using `:1234` (like another process running parcel) you get a pretty nasty error message.

[code]
For people who use Node all the time, this error is pretty familiar, but for someone others it can be pretty confusing.

Can we just wrap a

[2017-12-08 03:10] babsonmatt commented on #109
@davidnagli sorry for the lack of clarity there - working on setting up a new project with Parcel and just couldn't figure out what was causing the odd behavior so I recreated a simple test case with create-react-app and everything seems fine (also with codesandbox / stackblitz) so I'm stuck concluding that its something Parcel-ish?

Thanks for the reply!

[2017-12-08 03:12] davidnagli commented on #109
Thanks for clarifying! I’m working on figuring out what’s wrong right now (I’ve been wrestling with stackblitz for the past 30 minutes)

[2017-12-08 03:14] Raathigesh commented on #111
I'll take this. May be tonight or tomorrow.

[2017-12-08 03:20] chipit24 commented on #13
This is currently causing some issues for me. All the 3rd party modules I import (from `node_modules`) for my application are already compiled/transformed; I don't want Parcel to run any transofrms even if it finds a `.babelrc` file there.

[2017-12-08 03:22] handoing commented on #40
I upgraded node v9.2.0 and solved it.

[2017-12-08 03:35] davidnagli commented on #13
@chipit24 I guess we’re gonna have to work on resolving this issue. In the meantime, if you’re looking for a workaround use the `--no minify` flag

[2017-12-08 03:41] devcati opened #112 "Dynamic import doesn't work?"
when i try code splitting, get a error:
[code]
index.js:
[code]
m.js:
[code]
no more config...

| Software         | Version(s)
| ---------------- | ----------
| Parcel           |  1.0.3
| Node             |  9.2.0
| npm/Yarn         | npm
| Operating System | macOS 10.12.6

[2017-12-08 03:55] babsonmatt commented on #109
Thanks a lot @davidnagli, looking forward to using Parcel!  Let me know if I can help out or anything with the issue

[2017-12-08 03:57] devongovett commented on #110
cool idea. another one that might be interesting is a fork of storybooks to use parcel as well - that one I'd definitely use.

[2017-12-08 03:57] shawwn opened #113 "Print stack traces on error"
🐛 bug report

Parcel suppresses stack traces, leading to confusion:

https://github.com/parcel-bundler/parcel/blob/a1a190bb19a2c625ad3af9f4072fbbc8f342f746/src/Logger.js#L67

Users end up seeing "Cannot resolve dependency foo.bar" rather than the actual error.

One solution:

[code]

[2017-12-08 04:03] thejameskyle commented on #113
Moving to #114

[2017-12-08 04:10] thejameskyle commented on #113
I find that leaving things open while there is a PR creates more noise than necessary, but sure

[2017-12-08 04:11] devongovett commented on #113
yeah, esp if you are going to immediately fix your own issue as in this case. then just don't open an issue at all - the PR is fine for that.

[2017-12-08 04:13] shawwn commented on #113
Alright, noted.

[2017-12-08 04:18] thejameskyle commented on #19
It was a typo, calm down.

-> https://github.com/parcel-bundler/website/pull/15

[2017-12-08 04:22] thejameskyle commented on #112
Weird, could you put up an example repo?

[2017-12-08 04:26] shawwn commented on #103
We decided to go with a public Slack workspace: https://slack.parceljs.org/

Badge:

[![Slack](https://slack.parceljs.org/badge.svg)](https://slack.parceljs.org/)

[2017-12-08 04:27] davidnagli commented on #19
oh haha, that explains it...

[2017-12-08 04:27] #113 closed

[2017-12-08 04:31] thejameskyle commented on #103
#115

[2017-12-08 04:31] #103 closed

[2017-12-08 04:49] thejameskyle commented on #100
Moving to #104

[2017-12-08 04:49] #100 closed

[2017-12-08 05:07] TheLarkInn commented on #112
https://github.com/TheLarkInn/repro-parcel-112 Here's a repo to model after if needed, I wasn't able to repro myself but I'm on different OS so *shrug*. Anyways, maybe this will help expedite @devcati's reporting or help you James <3.

[2017-12-08 05:27] TheLarkInn commented on #65
CoC could go under this issue also if relevant.

[2017-12-08 05:59] pungggi commented on #110
What are the advantages of forking all these projects? I understand that Things may go faster.. But CRA does already solve the problem of handling complex configuration.. So why should one use the fork and risking not getting updated over time?

[2017-12-08 05:59] ckken commented on #112
[code]

like webpack require.ensure or import(val)

[2017-12-08 06:12] #70 closed

[2017-12-08 06:58] joenoon opened #117 "process.env transformation is breaking leaving only ".NODE_ENV""
I think I found a bug where `(process.env.NODE_ENV)` in the source file was transformed to `(.NODE_ENV)` in my bundle.  Parcel doesn't complain, but when loading the page the js error is thrown.

I traced where this is happening to around:
https://github.com/parcel-bundler/parcel/blob/3e97493690eb4b9a87b899b30bc0e1b19f0f84f1/src/visitors/globals.js#L21

If I insert an early return in that function

[2017-12-08 07:03] ckken commented on #112
like : `babel-plugin-syntax-dynamic-import`

[2017-12-08 07:10] devongovett commented on #96
url is generated here https://github.com/parcel-bundler/parcel/blob/master/src/assets/RawAsset.js#L10

[2017-12-08 07:16] devongovett commented on #3
#84 has been merged and released in v1.1.0, which should cover the basics of transpiling. Closing this issue. If someone wants to open another one for typechecking support, feel free.

[2017-12-08 07:16] #3 closed

[2017-12-08 07:19] johanbaath commented on #117
@joenoon I'm using the Babel plugin "transform-inline-environment-variables" for this and it works well, did you try that? 😃

[2017-12-08 07:21] TheLarkInn commented on #112
I'm not sure if Parcel has (haven't gotten through entire codebase yet) support for what webpack call's ContextModules. I'm happy to help team understand how it works if they want to RFC/Propose implementing it.

[2017-12-08 07:48] evenfrost commented on #112
That's weird, because on my one machine (running Ubuntu 16.10), I've got this very error `Cannot find module 'X'` when trying to use dynamic import or importing images. And on the other machine (Ubuntu 17.10) everything works seamlessly so far. Got Node.js v9.2 and Parcel v1.0.3 on both.

[2017-12-08 08:01] joenoon commented on #117
@johanbaath that sounds like a smart workaround.  For some reason that plugin is not transforming anything for me, so now I'll debug that and try to see why.  I wonder if both problems are due to one of the other plugins I'm using.  But if I can get that babel plugin to work, it would avoid the parcel code finding any process.env's and should work in theory!

[2017-12-08 08:35] joenoon commented on #117
@johanbaath So actually transform-inline-environment-variables is working, but only in my app code - not node_modules/* code.  I think thats the normal behavior and makes sense.  I didn't have any process.env's in my own code, so I had to add one to verify the babel transform does indeed transform it.

So for my problem, the workaround won't help, because parcel will try to process all of the othe

[2017-12-08 08:45] uran1980 opened #119 "Cannot read property 'start' of undefined"
Setup **Hello World** from your documentation and when try `parcel build index.html` get this error:
![2017-12-08-09-00](https://user-images.githubusercontent.com/1616795/33757920-e3bfcacc-dc04-11e7-95b8-94b5cbdde956.png)

[2017-12-08 08:48] lcxfs1991 opened #120 "Chinese Docs is Done"
https://parceljs.docschina.org

Chinese Docs has been finished. Hopefully we can add a language selection dropdown to the site?

[2017-12-08 08:50] thejameskyle commented on #120
Holy shit that was fast.

Let's move over to the website repo: https://github.com/parcel-bundler/website/issues/28

[2017-12-08 08:50] #120 closed

[2017-12-08 08:56] philipodev commented on #119
this is a duplicate to #8

[2017-12-08 09:18] #119 closed

[2017-12-08 09:21] thejameskyle commented on #83
Moving to #90

[2017-12-08 09:21] #83 closed

[2017-12-08 09:25] devcati commented on #112
thanks @TheLarkInn reply.  I found the problem in css. I use `postcss-inline-svg` in the css:
[code]
maybe `svg-load` disturbs bundle tree. remove css, all is ok.

[2017-12-08 09:43] JZLeung opened #124 "The packaged file is too LARGE"
**Choose one:** is this a 🐛 bug report or 🙋 feature request?
🐛 the

### 🎛 Configuration (.babelrc, package.json, cli command)

here is my codes:
index.js
[code]

### 😯 Current Behavior

after running: ` NODE_ENV=production && parcel build index.html --no-minify`
if without `--no-minify`, it doesn't work #8
[code]

### 🌍 Your Environment

| Software         | Version(s)
| ---------------- | -------

[2017-12-08 09:45] johanbaath commented on #117
@joenoon OK I see! I have not had that exact requirement, so I'm unsure. Let us know if you find any solution.

[2017-12-08 09:50] thejameskyle opened #125 "RFC: Import glob tokens"
Webpack has the concept of require contexts which are (in my opinion) completely broken.

When you have a require expression like:

[code]

Webpack basically turns that into a regex which in glob form is:

[code]

Which is both the correct thing for it to do in that scenario and very very bad.

---

---

Instead of that, I would like to see something along the lines of:

[code]

This way we can st

[2017-12-08 09:52] thejameskyle commented on #124
What doesn't work?

[2017-12-08 09:57] thejameskyle commented on #102
@davidnagli Please be respectful of people who speak english as a second language.

@ckken Parcel currently does not support dynamic import expressions. I'm proposing something else: #125

[2017-12-08 09:58] thejameskyle commented on #96
Also see https://github.com/parcel-bundler/parcel/blob/7b899b38930a7a30943a6148f475a5007ce2c625/src/Asset.js#L140-L157

[2017-12-08 10:00] thejameskyle commented on #66
@wavebeem Can you expand upon that?

[2017-12-08 10:03] thejameskyle commented on #89
Let's merge this into #25

[2017-12-08 10:03] #89 closed

[2017-12-08 10:06] evenfrost commented on #112
Minimal reproducible example is [here](https://github.com/evenfrost/parcel-demo). It starts happening when I include CSS file in index.html and have dynamic imports in my root JS file.

[2017-12-08 10:13] thejameskyle commented on #117
Relevant code is here: https://github.com/parcel-bundler/parcel/blob/3e97493690eb4b9a87b899b30bc0e1b19f0f84f1/src/visitors/globals.js#L22-L30

[2017-12-08 10:14] thejameskyle commented on #117
Here's some resources to help out if you're new to compilers/ASTs:

- https://github.com/thejameskyle/the-super-tiny-compiler
- https://github.com/thejameskyle/babel-handbook (See "plugin handbook" in your language)

[2017-12-08 10:14] lifeart opened #126 "Unable to resolve `.jsm` module"
I'm using JavaScript modules
(https://developer.mozilla.org/en-US/docs/Mozilla/JavaScript_code_modules/Using)

this a 🐛 bug report
### 🎛 Configuration (.babelrc)

[code]

### 🤔 Expected Behavior

if   I do

[code]

All Ok.

### 😯 Current Behavior
if I do
[code]
I got error: Cannot resolve dependency, but

[code]

works

### 💁 Possible Solution
any config to add proper file name extensions to resol

[2017-12-08 10:22] thejameskyle commented on #88
Does `hesi-parcel\node_modules\parcel-bundler\package.json` not exist?

[2017-12-08 10:24] albinotonnina commented on #65
If you need more help please don't hesitate to contact me as well

[2017-12-08 10:25] thejameskyle commented on #107
This content probably belongs in CONTRIBUTING.md.

I want to document the structure of the codebase and add comments everywhere to make this easier to contribute to.

[2017-12-08 10:31] joenoon commented on #117
A user on slack (Shawn) had me try commenting out the `delete node.object` line.  The result is:

- in the **edited** bundle, many process.env's are transformed, but 3 process.env's remain un-transformed.  this doesn't cause any runtime issues in this case and the bundle runs correctly.
- in the **unedited** bundle, its missing the process shim module completely.  it looks like parcel is the one a

[2017-12-08 10:34] lifeart commented on #88
@thejameskyle it exists

[code]

[2017-12-08 10:46] thejameskyle commented on #117
That doesn't sound right, you should have to remove the entire node

[2017-12-08 10:57] antony opened #129 "Feature Request: Svelte support"
Something like:

* https://github.com/sveltejs/svelte-loader
* https://github.com/rollup/rollup-plugin-svelte

Would be amazing :)

[2017-12-08 11:08] lifeart commented on #105
![image](https://user-images.githubusercontent.com/1360552/33763366-4151785e-dc21-11e7-985b-29f09989d87e.png)

[2017-12-08 11:09] DeMoorJasper commented on #126
These extensions are just not added to the Parser atm as far as i can see i'll make a pull request and add them

[2017-12-08 11:10] chee opened #131 "The code that parcel inserts is not processed with babel"
🐛/🙋, could go either way.

I think this is related to #8.

if i have this `.babelrc`:

[code]

and i have this code:

[code]

[code]

and i do `parcel build index.js --no-minify`, i get this handy guy in the code:

[code]

the `let` here is problematic in the environment i'm building for, and testing on.

Similarly, when using  `parcel index.html`, the websocket code generating for hot reloading h

[2017-12-08 11:30] albinotonnina opened #133 "Building - lscpu: failed to determine number of CPUs - Heroku"
🐛/🙋 not sure.

My plan was to build my app on heroku and statically serve the dist folder

_package.json_
[code]

_Procfile_
[code]

_server.js_
[code]

Now I'm not an expert on heroku so errors like these are not clear to me.
Locally, through heroku CLI everything works.
On heroku looks like that the output folder `dist` is not actually created.
I may be doing something wrong on heroku but it cou

[2017-12-08 11:42] ZhijianZhang opened #134 "files of a hash name"
so mans how can i use parcel to output js bundler files which a [hash] value is in its name ?

[2017-12-08 11:51] #134 closed

[2017-12-08 12:12] fdnklg opened #135 "fs.readFile is not a function"
🐛 bug report

After getting started with your Step by Step tutorial I got stuck while trying to import the node file system. If I try to use fs to read a file, it seems that parcel can't get access to the node module.

[code]

`console.log(fs)` just gives me an empty function back.

### 🎛 Configuration (.babelrc, package.json, cli command)

[code]

### 🔦 Context
My goal is just to get a basic setu

[2017-12-08 12:20] reel commented on #133
The problem is with `physical-cpu-count`. I can make a pull request to remove that package and use the else branch:

[code]
Could add that somewhere in there: https://github.com/parcel-bundler/parcel/blob/master/src/WorkerFarm.js#L27

[2017-12-08 12:26] reel commented on #131
If you use `env` instead of `es2015` and add a lower browser target, does it work?

See https://babeljs.io/docs/plugins/preset-env/

[2017-12-08 12:41] rwu823 opened #137 "[Feature Request] Throw exit code 1 when build error"
🙋 Feature Request

Throw **exit code 1** when build error is helpful in CI environment.

[code]

### 🤔 Expected Behavior

Displays error and throw exit code 1.

### 😯 Current Behavior

Builds error but passed.
![image](https://user-images.githubusercontent.com/890063/33766354-123472c4-dc58-11e7-90e7-9c05ae810b8b.png)

### 🌍 Your Environment

| Software         | Version(s)
| ---------------- | ---

[2017-12-08 12:50] davidnagli commented on #107
Oh ya, that’s a good point. It actually makes allot more sense to add this to CONTRIBUTING.md.

@shawwn What do you think?

[2017-12-08 12:56] rosenfeld commented on #41
@thejameskyle if we run multiple build commands like in your example:

1 - Would it perform about the same due to the persistent caching? Or is it likely that it could be faster if both were built by the same process and reuse some steps?
2 - There's an html-webpack-plugin for Webpack that allows us to build htmls like @ivancuric suggested. @ivancuric told that using script type=module is not reco

[2017-12-08 13:03] davidnagli commented on #105
@lifeart hmmm that’s pretty strange 😟

Do you mind moving that screenshot to #40? Also, do you mind giving a bit more context, like you’re node version, and exactly what you where trying to do.

This seems to be a pretty big issue, so I’m gonna try to dive into it and identify the cause and fix it. But it seems pretty mysterious so far. I’m trying to gather as much info about the context, so pleas

[2017-12-08 13:05] davidnagli commented on #137
That’s a great point! We should definitely do that

[2017-12-08 13:07] chee commented on #131
@reel

No, 'cause the builtins are written in as they appear in their files. For instance, `hmr` in here: https://github.com/parcel-bundler/parcel/blob/3e97493690eb4b9a87b899b30bc0e1b19f0f84f1/src/packagers/JSPackager.js

they aren't transformed along with everything else, so [this arrow function](https://github.com/parcel-bundler/parcel/blob/3e97493690eb4b9a87b899b30bc0e1b19f0f84f1/src/builtins/h

[2017-12-08 13:13] chee commented on #110
here is my implementation of `create-parcel-react-app`

https://gist.github.com/chee/9ca084e2da224fee8d73d36c476c873f

🌮 🚥

[2017-12-08 13:26] Raathigesh commented on #117
It seems to fail for the following piece of code
[code]

And it's being translated into
[code]

[2017-12-08 13:33] bickmista opened #138 "Change logs?"
They are a chore but super useful, could we get these?

[2017-12-08 13:38] nilsel commented on #105
I was also getting this (parcel v1.0.3);
`Uncaught ReferenceError: require is not defined`

I did not have a charset attribute on my script tag.
Just a simple html page with one javascript file containing some jQuery stuff.

This occurs on Node 6.5.9, 6.9.5, 6.10.3, 6.12.1, 7.0.0.

On Node 8.0.0 and 8.9.2 it works fine (can't test any more versions as my disk is filling up :).

I'm using OS X 10.1

[2017-12-08 13:44] davidnagli commented on #138
@devongovett Can we start doing this? Since your pretty much the “main guy” reviewing PRs and committing changes I think this pretty much falls into your hands. Up to you, but I agree that this would be a super useful practice.

[2017-12-08 13:46] davidnagli commented on #105
@nilsel Thanks for the extensive testing :)

I’ll look into it

[2017-12-08 13:46] plantain-00 opened #139 "Does this tool support multiple entries and feature like `webpack.optimize.CommonsChunkPlugin`"
**Choose one:** 🙋 feature request?

### 🎛 Configuration (.babelrc, package.json, cli command)

[code]

[code]

[code]

### 🤔 Expected Behavior

https://webpack.github.io/docs/list-of-plugins.html#commonschunkplugin

### 😯 Current Behavior

### 💁 Possible Solution

### 🔦 Context

My webpack config uses this feature, if this tool support this feature, I can try this tool rather than webpack.

### 🌍

[2017-12-08 13:48] davidnagli commented on #139
This sounds pretty cool.

I’m trying to understand what commonschunkplugin does, but I don’t really understand the point. Do you mind explaining it a bit?

[2017-12-08 13:53] lifeart commented on #105
@davidnagli $ node v7.9.0, win10 x64

[basic-parcel.zip](https://github.com/parcel-bundler/parcel/files/1542819/basic-parcel.zip)

^ my setup

[2017-12-08 14:12] eddyerburgh commented on #5
I could help build this in the new year

[2017-12-08 14:19] albinotonnina commented on #133
@reel Please do!

[2017-12-08 14:36] jraoult commented on #3
@devongovett I know this issue is already closed but I just found a bug. If the script index file has a `.ts` extension, the `mime` module, (transitive dependency of serveStatic) will interpret it as a "video/mp2t" (cf https://raw.githubusercontent.com/broofa/node-mime/master/types/standard.json).

My intuition is that the transpiled file should not have the `.ts` extension anyway since it is not

[2017-12-08 14:37] yeskunall commented on #137
I can take this up when #140 and #121 (finally) land.

[2017-12-08 14:57] sbesh91 opened #141 "🐛 @webcomponents Cannot resolve dependency 'vertx'"
**Choose one:** is this a 🐛 bug report or 🙋 feature request? 🐛

I've been giving parcel a go as a replacement for my webpack config.
It's running into the same issue I had with webpack where it had an issue with the webcomponents polyfill
### 🎛 Configuration (webpackconfig)
This is the line that would fix a webpack config
[code]

### 🤔 Expected Behavior
The expectation is for a way to ignore vertx

[2017-12-08 15:16] cedric-marcone commented on #124
I think his problem is :
- it works with the "--no-minify" flag
- it doesn't without it
;)

[2017-12-08 15:17] davidnagli commented on #5
@shawwn Are you also working on this?

[2017-12-08 15:23] DeMoorJasper commented on #7
@omouse i made a super small boilerplate for angular and it does work just fine as far as i tested it https://github.com/DeMoorJasper/Angular-Parcel-Boilerplate

[2017-12-08 15:30] bickmista commented on #139
From my understanding the `commonschunkplugin` allows you to split out frequently used libraries into its own bundle so that they all get loaded at once and so you can have smaller application bundles.

[2017-12-08 15:33] ReneBroekhoven opened #143 "UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): RangeError: Maximum call stack size exceeded (node:9864) [DEP0018]"
This is a 🐛 bug report.

After installing parcel-loader (with yarn) and creating the (your) example index.html and index.js, running parcel index.html results in a error message in CLI and the execution seems to be in a loop:

### 🎛 Configuration (.babelrc, package.json, cli command)

package.json :
{
  "dependencies": {
    "parcel-bundler": "^1.0.3"
  },
  "name": "rene",
  "version": "1.0.0",

[2017-12-08 15:47] davidnagli commented on #137
Cool!

Just out of curiousity... how does #121 have anything to do with this :joy:

[2017-12-08 15:48] garrydzeng opened #144 "How do i mark some modules to external?"
**Choose one:** is this a 🐛 bug report or 🙋 feature request?

🙋 feature request

### 🤔 Expected Behavior

Don't include external module in bundled file everywhere.
Like rollup `globals` option.
https://rollupjs.org/#big-list-of-options

### 🌍 Your Environment

| Software         | Version(s)
| ---------------- | ----------
| Parcel           |  1.0.3
| Node             | 9.2.0
| npm/Yarn         |

[2017-12-08 15:53] yeskunall commented on #137
Once that lands, `lint-staged` will run as a precommit hook, prettifying the files, avoiding those unnecessary PRs fixing indentations and what not.

[2017-12-08 16:05] pke commented on #110
or react-styleguidist over storybook. Less DSL more instant markdown power.

[2017-12-08 16:05] davidnagli commented on #124
@cedric-marcone That sounds allot like issue #8

[2017-12-08 16:12] davidnagli commented on #143
Do you mind filling in the issue template with all your info :)

[2017-12-08 16:50] filipesilva commented on #7
For Angular projects `ngc` (the Angular compiler) is also used as a replacement for TypeScript. Is it possible to override the default `TypeScriptAsset` with a plugin?

[2017-12-08 17:01] DeMoorJasper commented on #7
It is possible to do so, u can have a look at [the plugins docs](https://parceljs.org/plugins.html).
Just setting extension to .ts and .tsx would overwrite the TypeScript Module.

[2017-12-08 17:19] trusktr opened #145 "You should be using uglify-es."
Using uglify-js is likely to leave your users of some modern browsers with zero-configuration errors.

F.e. you can find many bugs like this one:

https://github.com/meteor/meteor/issues/9224

Just use uglify-es

[2017-12-08 17:42] philipodev commented on #143
i might be wrong here, but was'nt this issue fixed with 1.03?

[2017-12-08 18:01] fay-jai opened #146 "Using absolute paths when importing JS files"
🙋 Handling absolute path when importing JS files

Currently, I'm using Webpack and one of the configurations we use is setting up additional `resolve.modules` so that in our JS files we don't need to write relative path imports. For example, if our project directory looks like this:

[code]

and `componentB` imports `componentA`, here's how our import looks like:

[code]

[2017-12-08 18:05] spalger commented on #146
Pretty similar ask here: https://github.com/parcel-bundler/parcel/issues/25

One option I've tried is symlinking your `app` directory into your `node_modules` directory, so it resolves like any other package from npm.

[2017-12-08 18:08] jaredpalmer opened #148 "Typescript file extension stays .ts after compilation"
# 🐛 bug report

### 🎛 Configuration (.babelrc, package.json, cli command)

[code]

### 🤔 Expected Behavior
TS files should be transformed to .js. Having the same issue as described here. https://github.com/parcel-bundler/parcel/issues/3#issuecomment-350278007

### 😯 Current Behavior
TS files keep their file extensions
### 🌍 Your Environment

| Software         | Version(s)
| ---------------- | ---

[2017-12-08 18:10] DeMoorJasper commented on #148
This should not happen on the latest version (1.1.0).
Please add some more details like explained here: [ISSUE TEMPLATE](https://github.com/parcel-bundler/parcel/blob/master/.github/ISSUE_TEMPLATE.md)

[2017-12-08 18:16] jaredpalmer commented on #148
@DeMoorJasper npm latest version is 1.0.3 https://www.npmjs.com/package/parcel-bundler ? Did this not get pushed even though it was tagged??

[2017-12-08 18:17] DeMoorJasper commented on #148
Thank you for filling in the form, typescript was implemented in version 1.1.0 and you're using 1.0.3.
So Parcel falls back to raw files, which just keeps the file extension...

[2017-12-08 18:17] jaredpalmer commented on #148
When is 1.1.0 going to be pushed to NPM?

[2017-12-08 18:18] DeMoorJasper commented on #148
@devongovett

[2017-12-08 18:20] devongovett commented on #148
Ah my bad, should be published now

[2017-12-08 18:20] #148 closed

[2017-12-08 18:21] jaredpalmer commented on #148
@devongovett I use https://github.com/sindresorhus/np which prevents this kind of thing from happening in future as it pushes and tags in one stroke

[2017-12-08 19:21] philipodev opened #149 "Documentation: Examples"
🙋 feature request

Hi, i think its time to provide basic examples for using parcel with `react`, `vue`, `angular` among others.
I'm thinking a simple folder-structured `/examples/react` with a `package.json`, `.babelrc` and `index.html` + `index.js`.

What do you guys think?

I would love to contribute with a few examples.

[2017-12-08 19:34] philipodev commented on #135
this is probably because "fs" is a node-package and does not work and should not be imported to client.

[2017-12-08 20:03] chee commented on #125
I'm into this being static.
I like the idea that it is a function that a person can read to understand, and that it would continue to work even if parcel was not being used as the bundler.

I'm confused about the call to token there, where it does not have any interpolations, wouldn't token get called with only `['./routes/*/index.js']`?

Could something like this work?:

[code]

or

[code]

[2017-12-08 20:04] chee commented on #125
^ 😃

[2017-12-08 20:08] devongovett commented on #125
Parcel actually already supports glob imports:

[code]

Don't think dynamic imports would work the way you might expect here though.

[2017-12-08 20:13] devongovett commented on #135
`fs.readFileSync` should work, the async functions aren't implemented. see docs here: https://parceljs.org/assets.html

[2017-12-08 20:19] chee commented on #25
As a note, I am very into what I think is unpopular idea, which is to allow setting the effective root of a project. Sort of like a chroot, so you could do:

[code]
[code]

and that would get it from `./src/lists/dogs`.

This gets around the problem of code that can stop working when a module is installed with the common `NODE_PATH`, `babel-plugin-module-resolver` and webpack approach<sup>1</sup>.

[2017-12-08 20:27] chee commented on #125
I think the hope here is to avoid an unwanted glob import, if I understand correctly.

For someone who wants to import the price of `dog`, `cheese` and `foxhound` from `data` to be able to do:

[code]
And for Parcel to avoid bundling every other file on the system that matches `data/*/price.js` because it doesn't know that it might need it.

In this case, static analysis would tell you that you on

[2017-12-08 20:29] ReneBroekhoven commented on #143
See my refilled issue log.
And @philipodev : I am using 1.0.3

[2017-12-08 20:30] chee commented on #125
Would there be a fallback to the Webpack strategy (glob + grab everything), if somehow the path was not able to be statically inferred? for instance:

[code]

[2017-12-08 20:55] chee commented on #93
this is a duplicate of #8

you can get rid of your `/dist/` by adding `--public-url='/'` to your build command

[2017-12-08 21:55] thejameskyle commented on #125
No, that's exactly what I want to avoid. You must be explicit about what is included in the import.

I'm not sure it should support globs like that. Using dynamic imports where you load one at a time is better for apps and follows the spec

I'm not sure what you mean. `token(glob)(url)` would return a string, but it'd be validated by the glob. `token(glob)` would be the syntax that specifies which

[2017-12-08 22:05] ccutch commented on #146
I was thinking about using the NODE_PATH environment variable in such a way `NODE_PATH=./src parcel src/index.html` but that did not work, might be a nice implementation pattern

[2017-12-08 22:39] plantain-00 commented on #139
`commonschunkplugin` works with code splitting, there is also a link about its point: https://webpack.js.org/guides/code-splitting/#prevent-duplication

[2017-12-09 00:06] philipodev commented on #143
@ReneBroekhoven but the error message in the title stated parcel 1.02, when you run the command `parcel index.html` directly in a terminal its using the global `parcel` instead of the one in `package.json`. try `parcel --version` to verify its `1.03`. if not, then just run `npm install --global parcel-bundler` to update

[2017-12-09 00:28] pke commented on #146
Or use the babel `module-resolver` plugin and add this to `.babelrc`

[code]

[2017-12-09 00:40] greghaygood commented on #149
Here's a React version! https://github.com/jaredpalmer/react-parcel-example

[2017-12-09 02:42] #47 closed

[2017-12-09 02:51] gabrielsanterre commented on #145
Webpack also use it: https://webpack.js.org/plugins/uglifyjs-webpack-plugin/

[2017-12-09 03:11] #126 closed

[2017-12-09 04:38] sudhakar commented on #139
If a module is already imported in vendor.js, it doesn't appear to get added in index.js bundle. Atleast from the bundle size, that what it appears to be when I tested.

Can anyone confirm?

[2017-12-09 06:54] plantain-00 commented on #139
@sudhakar That's right.
Usually, `index.js` changes frequently, `vendor.js` doesn't change, so bundled `vendor.js`'s hash doesn't change too(eg, 500KB), so a browser will not load bundled `vendor.js` again when I just change `index.js`, it just reload bundled `index.js`(eg, 200KB).
Without `commonschunkplugin`, a browser will always reload whole js file(eg,700KB) even I just make a small change.

[2017-12-09 08:39] jimmycarry opened #154 "Can It Support Typescript?"
As My Title If It Support Typescript How To Config It

[2017-12-09 09:00] sudhakar commented on #139
@plantain-00 I have used `commonschunkplugin`. Atleast from the bundle size it generated, looks like parcel already does it by default. AFAIK, no config or plugin is required to make it work like `commonschunkplugin`

So I would say give it a try :)

[2017-12-09 09:05] sudhakar commented on #139
Here's a excerpt from the docs which confirms that

[2017-12-09 09:39] ReneBroekhoven commented on #143
@philipodev You are totally right ! I missed the difference between what was in the package.json and the actual version. Problem solved !  Thanks a lot.

[2017-12-09 09:51] DeMoorJasper commented on #154
It supports typescript, no need to config anything though.
Just point it to a index.html or whatever html file that has a script tag containing the typescript entrypoint and everything should work automagically

[2017-12-09 10:05] deepkolos opened #155 "🐛still got error 'Couldn't find preset "env" relative to directory' after trying npm i -g babel-preset-env"
**Choose one:** is this a 🐛 bug report

I just follow the getting start workflow, and still got this error after apply solution that i found `npm i -g babel-preset-env`

### 🎛 Configuration (.babelrc, package.json, cli command)

[code]

[code]

### 🤔 Expected Behavior

### 😯 Current Behavior

### 🌍 Your Environment

| Software         | Version(s)
| ---------------- | ----------
| Parcel

[2017-12-09 10:12] deepkolos commented on #155
then i upgrade nodejs to v8.9.3 , error still

[2017-12-09 10:22] DanielRuf commented on #155
Relative means probably not global.

[2017-12-09 10:24] DanielRuf commented on #155
Did you try to delete the `.cache` folder?

[2017-12-09 10:25] DanielRuf commented on #154
Or directly at the index.js or is a .html file always required?

[2017-12-09 10:26] DeMoorJasper commented on #154
It can also be an index.js or pointing it directly at a Typescript file also works

[2017-12-09 10:30] DanielRuf commented on #143
So the issue can be closed? Also the issue title should be short ;-)

[2017-12-09 10:33] DanielRuf commented on #138
https://github.com/lalitkapoor/github-changes or similar is probably useful.

[2017-12-09 10:39] DanielRuf commented on #154
Right, because this also worked for me as our projects are not included in an index.html document at compile time.

I am not sure if it was mentioned in the docs / get startet that the given entry file can be also one of the many supported ecmascript subsets.

Just saw the example with the index.html.

[2017-12-09 10:40] leonardoanalista opened #156 "Compare performance with fusebox"
I m just curious to see the performance comparison with fusebox. It would be great if we had some numbers and please put on the readme under your benchmark heading.

Cheers Leo

[2017-12-09 10:53] RakanNimer commented on #96
Hey,

Thanks for the great work on parcel, going through the code was fun !

I wrote a fix for this that's working on my machine.

I'm cleaning it up and will send a PR in a bit if no one is working on this.

Cheers !

[2017-12-09 11:41] aicest opened #158 "🐛 bug report: failed to process stylus file"
[Code to reproduce the error](https://github.com/aicest/parcel-stylus): `failed to locate @import file node_modules\stylus\lib\functions\index.js.styl`.

### 💁 Possible Solution

See #159.

### 🌍 Your Environment

| Software                | Version(s)
| -------------------- | ----------
| Parcel                     | 1.1.0
| Node                     | 8.6.0
| npm/Yarn              | 5.3.0/1.1.0
|

[2017-12-09 11:52] #143 closed

[2017-12-09 12:36] DeMoorJasper commented on #149
Here's an angular example https://github.com/DeMoorJasper/Angular-Parcel-Boilerplate

[2017-12-09 12:55] deepkolos commented on #155
@DanielRuf I run `npm cache clean --force` , and `yarn cache clean` , and delete the `.cache` folder under the demo , reinstall parcel-bundler , still not working .

[2017-12-09 13:12] plantain-00 commented on #139
It seems it supports `commonschunkplugin` for development mode, production mode failed because of  #8

[2017-12-09 13:12] #139 closed

[2017-12-09 13:36] DanielRuf commented on #155
Isn't npm 5 part of Node.js 8? Try to uninstall the global env preset, uninstall parcel and reinstall it. The env preset should be in the package.json of your local project and installed without the global option.

[2017-12-09 14:00] Raathigesh commented on #149
It would be really nice to aggregate all these examples in an example subdirectory like Next js does. https://github.com/zeit/next.js/tree/master/examples

Would be willing to help out in this effort.

[2017-12-09 14:31] deepkolos commented on #155
@DanielRuf still not working

[2017-12-09 15:48] Likebard opened #163 "Why I use "parcel watch src/index.html", and then generated dist/index.html has Wrong path about I want to import the JS and CSS file"
**Choose one:** is this a 🐛 bug report or 🙋 feature request?
 bug report

This is my This is my contents of dist/index.html.
[code]
![_017](https://user-images.githubusercontent.com/13894597/33797111-1c1f2794-dd3d-11e7-9b23-2f3186d0500e.png)

### 🔦 Context

[2017-12-09 16:32] danielcaldas commented on #4
Is this fixed? I installed version `v1.1.0` and the problem still exists for node version `v6.9.5`, I then upgraded node to `v8.9.0` and it started working as you can see in the picture below.

<img width="1440" alt="screen shot 2017-12-09 at 16 29 14" src="https://user-images.githubusercontent.com/11733994/33797351-57340190-dcfe-11e7-9647-ec117575309d.png">

[2017-12-09 16:49] fathyb opened #167 "Plugins are not loaded if the entry is not on the same directory as package.json"
This is a 🐛 bug report.

### 🎛 Directory structure

[code]

### 🤔 Expected Behavior
Parcel should be able to load the plugins from the `package.json`.

### 😯 Current Behavior
It does not if the entry file is not in the root directory of the project.

The error is silenced but if we log it we get :
[code]

### 💁 Possible Solution

I dirty-fixed it by replacing `./package.json` to `../package.json`,

[2017-12-09 17:18] philipodev commented on #149
@Raathigesh next.js was accually whati had in mind. It have helped me alot.

[2017-12-09 17:22] azu opened #168 "🐛 Allow to use comment in tsconfig.json"
### 🎛 Configuration (.babelrc, package.json, cli command)

I've create reproduce repository

- <https://github.com/azu/parcel-tsconfig.json-error>

[code]

`tsconfig.json`
[code]

### 🤔 Expected Behavior
No error

### 😯 Current Behavior

Parse Error on load `tsconfig.json`

[code]

### 💁 Possible Solution

Currently, `config.load` use [parse-json](https://www.npmjs.com/package/parse-json "parse-js

[2017-12-09 17:29] DeMoorJasper commented on #167
Path traversing up is prob a solid way to go, i'll take a look at it

[2017-12-09 17:34] DeMoorJasper commented on #168
I don't know if this should be part of parcel necessarily, as far as i know this is not allowed in standard json

[2017-12-09 17:44] azu commented on #168
As far as I remember, babel also allow to write comment in .babelrc(json format)

[2017-12-09 18:46] davidnagli commented on #156
This has actually already been proposed! See #10

Unfortunately, we have decided that we aren't going to be adding any more benchmarks until we finish making Parcel the best it can be. We want to spend our efforts making it better rather than spending time comparing ourselves to others.

Also see: #61

[2017-12-09 18:46] #156 closed

[2017-12-09 19:06] brandon93s commented on #167
There is a `pkg-up` module that currently handled this:

https://github.com/sindresorhus/pkg-up

[2017-12-09 19:26] yeskunall opened #173 "Introduce ESLint for linting"
**Choose one:** is this a 🐛 bug report or 🙋 feature request?
🙋

### 🎛 Configuration (.babelrc, package.json, cli command)
N/A

### 🤔 Expected Behavior

To be able to catch errors like #165, and overall introduce linting into `parcel`.

### 😯 Current Behavior

Since there is no setup for linting, we miss out on being able to enhance code quality, and just catch errors in general (which I believe ES

[2017-12-09 19:31] davidnagli commented on #155
@deepkolos Do you mind sending a zip archive with the files needed to reproduce the error?

[2017-12-09 19:33] davidnagli commented on #4
@danielcaldas What version of Parcel are you using?

[2017-12-09 19:48] marcioj commented on #40
I was looking into the issue but I think even fixing the use strict problem we will have problems with babel transforming `require = (function (modules, cache, entry) { ... })` to `require = function (modules, cache, entry) { ... };` when the project is built.
So in node 7 and further, when the script is compiled by parcel and the browser loads, we have correctly `require = (function (modules, cac

[2017-12-09 20:32] brandon93s opened #174 "Tests Fail on Windows | +AppVeyor"
**Choose one:**   &nbsp;&nbsp;&nbsp;&nbsp;  🐛

### 🤔 Expected Behavior

Tests pass on all platforms.

### 😯 Current Behavior

Currently, ~50% of the tests are failing on Windows ([see AppVeyor results](https://ci.appveyor.com/project/brandon93s/parcel)). Some of these are due to a failure in a `beforeEach` hook, but others are legitimate failures. **The test failures could mean that `parcel` isn't

[2017-12-09 20:55] brandon93s commented on #174
Working through these now.

[2017-12-09 21:04] saadq opened #177 "Hot reloading fails for nested components"
**Choose one:** is this a 🐛 bug report or 🙋 feature request?

This is a bug report.

### 🎛 Configuration (.babelrc, package.json, cli command)

Full example in a minimal repo available here: https://github.com/saadq/misc
Steps to reproduce are listed in the **readme.md** of that repo.

### 🤔 Expected Behavior
Hot reloading should work (without any need to refresh)

### 😯 Current Behavior
Hot reloa

[2017-12-09 21:05] davidnagli commented on #173
Yep, totally agree! What do you guys think of using XO?

[2017-12-09 21:33] davidnagli commented on #163
What's wrong with the path? It looks fine

[2017-12-09 21:35] devlux opened #178 "Add a html bundleloader"
🙋 feature request

Add a html bundleloader to allow html fragments to be loaded dynamically, like already possible with js or css content.

### 🤔 Expected Behavior

Add a html bundleloader to allow html fragments to be loaded dynamically, like already possible with js or css content.

import('view.html')

### 😯 Current Behavior

Currently the following exception is thrown as no html bundleloader i

[2017-12-09 21:49] DeMoorJasper commented on #163
He probably just opened the index.html file in the browser and then it doesn't load js and css due to this using absolute paths. Or he pointed his webserver to another directory than his www directory which would also cause this.

[2017-12-09 21:58] danielcaldas commented on #4
I wasn't clear above. I installed parcel `v1.1.0`.l

[2017-12-09 22:07] davidnagli commented on #173
Whoops... nevermind @thejameskyle already implemented linting via Prettier in #121

[2017-12-09 22:08] davidnagli commented on #173
Feel free to reopen if you think that we need to change from Prettier or anything like that, but for the time being we already have a linting tool.

[2017-12-09 22:08] thejameskyle commented on #173
Prettier is not a linter, there are other things to be caught if we want

[2017-12-09 22:09] davidnagli commented on #173
oh ya, my bad

[2017-12-09 22:14] adrianfaciu commented on #163
When you build the output you can use --public-url argument to specify the root. For example:
`parcel build index.html --public-url='/'`

[2017-12-09 22:21] davidnagli opened #179 "[RFC] New Labeling System"
Do you guys find the new labeling system useful?

What labels should I add / remove?

I'm currently in the process of going through all the open issues and tagging them, and I wanted to know if you like the system of labels that I'm using. It looks a bit unique at first, but the goal is to be highly categorizable and informative.

Let me know what you guys think...

[2017-12-09 22:34] thejameskyle commented on #179
My advice is to be lazy about labels and only use the ones which are super useful to you. Most people don't search using labels, and you end up spending a ton of time maintaining them.

Good labels:

- "help wanted" - Signals to people that their contributions would be accepted, GitHub uses this for various UIs to encourage contribution
- "good first issue" - Helps get new people contributing, Git

[2017-12-09 22:39] abiduzz420 commented on #178
This issue looks interesting to me, although I don't know much about it. I shall r read about it. I would like to take it up @davidnagli

[2017-12-09 23:47] plantain-00 opened #181 "Show version for `parcel -v`"
**Choose one:** 🙋 feature request?

`parcel -v`

### 🤔 Expected Behavior

Show its version, eg `v1.1.0`

### 😯 Current Behavior

error: unknown option `-v'

### 💁 Possible Solution

### 🔦 Context

like `node -v` `npm -v` `yarn -v`

### 🌍 Your Environment

| Software         | Version(s)
| ---------------- | ----------
| Parcel           |  v1.1.0(here is the usage)
| Node             | v8.4.0
| np

[2017-12-09 23:54] davidnagli commented on #181
`parcel --version` already works. Are you just proposing that we add `-v` as an alias for `--version`?

[2017-12-09 23:54] davidnagli commented on #179
Ok I cleaned everything up

[2017-12-09 23:54] #179 closed

[2017-12-10 00:03] yeskunall commented on #181
Somewhat related to #147. Should we make it so that if `parcel` encounters an unknown option, it instead shows what `--help` would?

[2017-12-10 00:05] davidnagli commented on #181
That's a pretty cool idea. It should show the error, and then `--help`.

[2017-12-10 00:06] davidnagli commented on #178
@abiduzz420 Sounds good!

[2017-12-10 00:48] #181 closed

[2017-12-10 01:16] davidnagli opened #182 "[Question] Proper way to run Parcel during parcel development?"
What's the correct way to run the Parcel CLI commands during development **for Parcel**?

Currently, I'm just calling `node bin/cli.js [args]`, but this causes some issues since it uses `/bin` as the "current directory", instead of the place where I actually want to run Parcel.

For example, when I run:

[code]
I get:
[code]
However, I do have a package.json located in `/Parcel/example/package.jso

[2017-12-10 01:17] davidnagli commented on #182
I'm thinking maybe there should be a way that I can add Parcel to my `$PATH` or something so that it works just like it does when I install it through npm.

[2017-12-10 01:27] davidnagli commented on #145
If we would be using uglify-es, we would solve #8

[2017-12-10 01:29] davidnagli commented on #4
Whoops sorry that was a dumb question 😂

Can you please send a zip file with your setup or post an example repo so I can try to reproduce the issue?

[2017-12-10 01:30] chee commented on #182
if you `yarn global remove parcel` then you can cd into your own copy of parcel and `yarn link`, then the `parcel` in your path will be your own parcel

[2017-12-10 01:32] chee commented on #182
Also, you can `yarn link` in the directory of your copy of parcel, then in another project you can do `yarn link parcel-bundler` so that locally your copy of parcel is the one used in its npm scripts.

[2017-12-10 01:33] davidnagli commented on #182
How do I get it into my PATH in the first place? Should I symlink it into `/usr/local/bin` or do I add something to `.bashrc`?

I tried googling it, but I was pretty confused.

[2017-12-10 01:37] davidnagli commented on #4
![screen shot 2017-12-09 at 8 35 32 pm](https://user-images.githubusercontent.com/6759650/33801178-869a2168-dd20-11e7-9e7a-35ee76606036.png)
I ran it on a super minimal example and it worked perfectly (using `Node v6.9.5`)

[2017-12-10 01:56] deepkolos commented on #155
@davidnagli i add `.babelrc` to the demo , and `npm i -D babel-preset-es2015`,  then it works,

[code]

then i try to use `env` preset

[code]

[code]

run `npm test` , it works too~

[2017-12-10 01:56] #155 closed

[2017-12-10 02:43] brandon93s commented on #182
I use an alias:

![image](https://user-images.githubusercontent.com/4730164/33801469-e245813e-dd29-11e7-8b62-1d86d318df17.png)

This allows me to use the local copy of `parcel` as if it was globally installed. Yarn [recommends](https://yarnpkg.com/en/org/contributing/) the same pattern for development.

[2017-12-10 02:47] march23hare opened #184 "🐛 [Question] Importing .css file in .js file makes codes that are after the import statement run infinitely."
Hi, snowy cold day here today.
I have two questions.

Here is my project directory, app's structure. It's simple.

[code]

index.html
[code]

style.css
[code]

index.js
[code]

index.css
[code]

I typed 'parcel index.html' on the command line and it worked fine.
I found console logs, one 'hello world' and one 'bye-bye world.'
I also found 'index.css' at built js file as a variable, 'string'.

Then

[2017-12-10 02:48] brandon93s commented on #174
Stylus tests are failing with the same issues as seen in #158. Stylus may not be working on windows at all at the moment.

[2017-12-10 02:53] chee commented on #182
@davidnagli If your globally installed yarn bins are already in your path, then it will work just like that.
If not then you'll need to add your yarn global bin path to your $PATH in your shell init,

something like this:

[code]

[2017-12-10 03:14] Likebard commented on #163
@davidnagli @DeMoorJasper  I doesn't look fine. The script tag of the generated HTML file includes dist/xxxxxx.js but the REAL path of that js file is ./xxxx.js. The generated js file and the HTML file are in the same dist directory  actually. How do I fix this?

[2017-12-10 03:18] davidnagli commented on #163
Based on the screenshot you sent, the real path of the file should be `dist/xxxxxx.js`, not `./xxxx.js`

I'm really sorry if I'm misunderstanding you

[2017-12-10 03:20] davidnagli commented on #163
Maybe you're looking for the `--out-dir` command, which would let you specify the output directory

Note: an alias for `--out-dir` is `-d` (they both do the same thing.

Example usage

[code]

[2017-12-10 03:44] Likebard commented on #163
@davidnagli Thanks. It works.

[2017-12-10 03:44] #163 closed

[2017-12-10 03:49] Raathigesh commented on #177
I'll look into this!

[2017-12-10 04:02] aicest commented on #174
@brandon93s some details added to #159.

[2017-12-10 04:14] brandon93s commented on #86
This issue is related to absolute paths. @lifeart if you're able to use relative paths, that should get you up and running until there is a fix (e.g. `href="src/..."`).

Issue is occurring in `addUrlDependency`: https://github.com/parcel-bundler/parcel/blob/master/src/Asset.js#L64-L84

[2017-12-10 04:35] brandon93s commented on #184
I was able to recreate the scenario mentioned above. This appears to be an issue with `hmr` and not with the bundling itself. When you save the file after making the change, with the page already loaded in the browser, it executes repeatedly until `Maximum call stack size exceeded`. Hard refreshing the page or executing `parcel index.html` does not have the issue.

[2017-12-10 04:43] brandon93s commented on #184
@march23hare to answer this:

If you leave your index.js as this:

[code]

And update your `index.css` to this:

[code]

And then bundle / open the page in the browser, you'll notice that `index.css` has been added to your page as a stylesheet via the `import` without having to add it to your HTML.

[2017-12-10 05:12] march23hare commented on #184
Thank you a lot, brandon93.
It's helpful!

[2017-12-10 05:51] kingdaro commented on #145
I'd be happy to take a stab at this if it's not being done already. Is it any more than a dependency-swap and some API usage changes?

[2017-12-10 06:19] joenoon commented on #117
I tried both https://github.com/parcel-bundler/parcel/pull/153 and https://github.com/parcel-bundler/parcel/pull/166 on my example project in the first post.  Both work, awesome fixes!

I've compared the final bundle output from both and it looks like they produced the same result (except parts moving around in the file, numbers used in the bundling process, etc, which are all expected).

https://

[2017-12-10 06:51] jimmycarry opened #186 "Can't not import static file like png jpeg gif"
I import a png as my logo but output can't show png  and the output png http://localhost:3300/1091208349dfcfeef178c6131cc02486.png  is redirect to my index.html!

[2017-12-10 07:05] RakanNimer commented on #186
This is related to #96. And should be fixed by https://github.com/parcel-bundler/parcel/pull/160

in the meantime, does http://localhost:3300/dist/1091208349dfcfeef178c6131cc02486.png point to your image ?

[2017-12-10 07:34] jimmycarry commented on #186
yes! and I don't know why? It should be parcel's bugs?

[2017-12-10 07:43] item4 opened #187 "🙋 Add david-dm badge on README"
### 🔦 Context

https://david-dm.org/

[2017-12-10 07:46] item4 commented on #187
david-dm badge show status of deps. for example, bower is insecure https://david-dm.org/bower/bower

[2017-12-10 07:46] jimmycarry commented on #186
When I add "./dist"+logo  The image is showed ,but that is not I want

[2017-12-10 07:55] leeching opened #188 "File hash does not change after its content updates"
This is a 🙋 feature request.

### 🤔 Expected Behavior
An output file hash should change when its content updates.

### 😯 Current Behavior
File hash does not change.

### 🔦 Context
[code]
[code]

When build, 'b695675d84099f097ec37d68c8c83fce.js' generates.

[code]

And then, change main.js

[code]

Build again.

[code]

The javascript file name is still 'b695675d84099f097ec37d68c8c83fce.js'.
I am n

[2017-12-10 08:05] RakanNimer commented on #186
Yes this is currently an issue with Parcel. You can follow its status here :  #96 or #160.

Cheers !

[2017-12-10 08:14] jimmycarry commented on #186
Thx! I'll pay close attention to parcel

[2017-12-10 08:42] Raathigesh commented on #177
I was doing a bit of investigation and these are the findings. Following code seems to be the culprit.

https://github.com/parcel-bundler/parcel/blob/cf6902a30a4acc49a5b4572be42781ebf3ed356a/src/builtins/hmr-runtime.js#L100-L106

The file that is not being hot reloaded got two parents, so the following `getParent()` call would return two parent modules and those two modules should be executed for

[2017-12-10 09:28] azu commented on #154
I've created  minimum typescript example.

- [azu/parcel-typescript-example: A minimum TypeScript app with Parcel Bundler.](https://github.com/azu/parcel-typescript-example "azu/parcel-typescript-example: A minimum TypeScript app with Parcel Bundler.")

[2017-12-10 09:41] DeMoorJasper commented on #154
@jimmycarry if these answers resolved your question, could you close the issue?

[2017-12-10 09:42] jimmycarry commented on #154
@DeMoorJasper OK

[2017-12-10 09:42] #154 closed

[2017-12-10 11:05] DeMoorJasper commented on #129
I currently have made a very basic implementation of this plugin over here https://github.com/DeMoorJasper/parcel-plugin-svelte
There is still some improvements to be made though

[2017-12-10 11:16] mihailik commented on #3
TypeScript has neat and not-complex <a href="https://www.typescriptlang.org/docs/handbook/tsconfig-json.html">tsconfig.json</a> for driving/tweaking compilation. Ideally that's supported automatically out of the box.

TypeScript without `tsconfig.json` by default just bulds every .ts file it can find in directory/subdirectory with reasonable default settings.

That's what should be the baseline de

[2017-12-10 11:20] DeMoorJasper commented on #3
@mihailik the tsconfig compiler options are used by the compiler, in this base implementation?

[2017-12-10 11:20] mihailik commented on #3
On the versions: it would be FANTASTIC if parcel could build TypeScript out-of-the-box, without extra step of installing another package.

But if a project wants to pick a specific version, that should be used instead.

That sounds like a trivial setup: make `parcel-bundler` depend on `typescript` but in non-comittal version like >=1.0.0 or something.

[2017-12-10 11:22] mihailik commented on #3
Yes @DeMoorJasper , `tsc.js` (which is TypeScript compiler) takes in account `tsconfig.json` if it exists in top directory and run without overriding `--project myothertsconfig.json` argument.

[2017-12-10 11:22] DeMoorJasper commented on #3
The reason local requires are used is because of package size and speed, lots of people don't need typescript to be installed so it's not required by Parcel but if they want to have it they just install the typescript package and they have it without even touching any config file.
This is the same for every non-standard language in here (less, stylus, ...)

[2017-12-10 11:29] DeMoorJasper commented on #3
You're getting me kinda confused about config files here, tsconfig files in parcel are loaded the same way we handle the babel config or any other config.

[2017-12-10 12:40] xgz123 opened #189 "Support for multiple entry points."
Does it support multiple page ? or only single page ?

[2017-12-10 13:03] azu commented on #9
I'm interested in the source-map setting of the benchmark app(webpack and browserify).
Because, parcel-bundler does not support source-map yet #68
We have known that generating source-map is very slow.

[2017-12-10 13:07] abiduzz420 commented on #178
@davidnagli  @devlux I am going to add support for `"div", "button" `. Please suggest me other html fragments which should be included?

[2017-12-10 13:14] DeMoorJasper commented on #189
In theory it should support multiple pages, as long as they are linked from the startpoint.
In practise i discovered this is slightly buggy

[2017-12-10 13:18] DeMoorJasper opened #191 "🐛 Local html links break"
🐛 bug report

I was trying out if it was possible to use multiple pages with Parcel (Navigation)

### 🎛 Configuration (.babelrc, package.json, cli command)
[code]
### 🤔 Expected Behavior
clicking on the link should redirect to test.html

### 😯 Current Behavior
clicking on the link results in a 404 (./dist/<hash>.html)

### 💁 Possible Solution
Remove the dist prefix for html files

### 🔦 Context
I

[2017-12-10 13:34] DeMoorJasper commented on #188
As far as i know this is expected behavious.
What does change on file change is the hash contained in the fragment that is used for bundling.
[code]
The filename hash is however based on following parameters (so build, minify and server files should have different cache names):
[code]

[2017-12-10 14:12] mihailik commented on #3
@DeMoorJasper quite reasonable on the size.

However TypeScript actualy only needs several files: `tsc.js` and several `lib*.d.ts` declarations. The rest is international language translations, IDE integration support and such. That's around 7Mb.

[2017-12-10 14:17] mihailik opened #192 "node bundling"
🙋 feature request

Other bundlers (like webpack) can target node environment instead of browser. That largely involves leaving things like `require('fs')` and `process` intact in the code.

Is there a way to do the same in parcel?
If no, is it on the roadmap?

Ideally I'd want to test it by parcelling the parcel itself, and getting a bundled single JS file.

[2017-12-10 14:23] davidnagli commented on #192
That’s an interesting point. I don’t think we deal with target environments like Node yet. It would just bundle everything just like it would for the browser. I think it’s something we should look into though.

Out of curiousity... why would you ever want to bundle your Node scripts?

[2017-12-10 14:34] bigtunacan commented on #40
I just ended up upgrading to Node 8x series since it is on LTS

[2017-12-10 14:36] mihailik commented on #192
Well, the most obvious reason is performance. One file instead of thousands mean MUCH faster install times, and slightly faster runtime.

It also cricumvents tough versioning situations: end users can install-uninstall whatever they like, but my bundled package will always behave exactly the same way.

Not meant for every library on NPM, but useful in some cases. Could be especially priceless for

[2017-12-10 14:40] maciej-ka commented on #117
@joenoon I added another solution that morphs a child Node and doesn't need to know anything about parent Node. You may find it interesting. It results in the shortest code and remains generic (not written for one type of parent node).

To sum up solution directions, we have:
- adding a clause to replace function when a parent is a CallExpression type: #153
- changing replace to make generic, deep

[2017-12-10 14:45] mihailik commented on #3
For context: I've been following and contributing a few small bits to TypeScript since early, concerning compatibility and unusual integration scenarios. And totally agree with parcel's concerns in bundlers like webpack and browserify - so I'd love to help on TS integration, in whatever way fits with project's vision.

[2017-12-10 14:51] DeMoorJasper commented on #3
@mihailik Feel free to open up a new RFC in issues with the idea's you have to improve Typescript support within parcel, i'm happy to help improve the typescript support in any way.

[2017-12-10 15:29] kidandcat commented on #192
You cannot bundle dependencies, because some of them may change things like environment or OS configuration, and all of those tasks are usually executed in the installation phase.

And about the bundling, zero performance will be achieved in runtime because when you launch your program, all the code gets into memory. The bundling is effective in the browser because you can fetch all your code fast

[2017-12-10 16:04] maciej-ka commented on #177
Hi, I looked at this yesterday too. I used https://github.com/saadq/misc to reproduce. Components tree is like this:

[code]

`App` and `Home` are ok but `Content` doesn't get hot reloaded.

I haven't found the reason for the problem. Here are my debug sessions, @Raathigesh.

<details>
  <summary>debug of events incomming to WebSocket listener</summary>

[code]

[code]

</details>

<details>
  <su

[2017-12-10 16:16] abiduzz420 commented on #178
I have done some reading and got a bit of understand. Want to share the code on the lines I'm thinking. Would like to know if I'm doing it properly:

[2017-12-10 17:43] danielcaldas commented on #4
Hey @davidnagli sorry for the false alarm was running `parcel` with a global version (`v1.0.1`)! Tried with `parcel` inside `node_modules/bin` and it's working fine with node `v6.9.5`! Thanks

<img width="1431" alt="screen shot 2017-12-10 at 17 41 22" src="https://user-images.githubusercontent.com/11733994/33807613-7314ab16-ddd1-11e7-9aaf-819e42381e12.png">

[2017-12-10 17:45] davidnagli commented on #4
yay! Glad you got it to work :)

[2017-12-10 18:01] maciej-ka commented on #177
@Raathigesh your suggested `forEach` makes sense to me, looks good and works 🎉. Would you create a PR?

[2017-12-10 19:02] davidnagli commented on #86
@brandon93s Do you wanna take this issue?

[2017-12-10 19:09] davidnagli commented on #8
Waiting on #145 to be implemented

[2017-12-10 19:13] davidnagli commented on #141
So put more generally, you're asking for a way to ignore certain file name patterns in Parcel?

[2017-12-10 19:14] DeMoorJasper commented on #8
@davidnagli This had nothing to do with Uglify-JS, however #157 would fix it because it no longer uses babel-to-estree which caused the bug

[2017-12-10 19:16] davidnagli commented on #8
@DeMoorJasper Isn't #157 doing just that; it adds Uglify-ES

[2017-12-10 19:18] sbesh91 commented on #141
Yeah I think that sounds right to me.

[2017-12-10 19:19] DeMoorJasper commented on #8
@davidnagli It also removes babel-to-estree because ES6 is not supported when usin AST into Uglify

[2017-12-10 19:20] davidnagli commented on #8
Got it

[2017-12-10 19:21] davidnagli commented on #184
Isn't this still a bug with HMR?

[2017-12-10 19:40] davidnagli commented on #141
I think we need to implement a CLI option called `--ignore`

It should work like this (once implemented):
[code]

Do you guys think we should use wildcards for the ignore, or regex?

[code]

I guess we could also support both...

[2017-12-10 19:44] DeMoorJasper commented on #141
It would probably be a good idea to allow multiple entries, for example if anyone would use a minified library (for example jQuery) and not want it to get included in the bundle.
This is kinda already included in babelrc though, don't know if it is being used in the source codes though
[code]

[2017-12-10 19:55] devlux commented on #178
@abiduzz420 thanks for taking over this story! :-) I've read into the code myself today and I think the loadHTMLBundle method receives an URL to load the HTML fragment from. The purpose of this method is to load the content from that URL, e.g. by using the link element as follows:

[code]

The content may then be accessed by calling:

[code]

Unfortunately HTML import it is not yet supported by al

[2017-12-10 20:07] fay-jai commented on #146
@pke awesome - wasn't aware of `module-resolver` in babel!

[2017-12-10 20:26] fathyb commented on #192
This can be extremely useful when compiling a React app to Node.js for service side rendering (with css modules), where we would `require` any JavaScript dependency.

[2017-12-10 21:52] DeMoorJasper commented on #8
This should be fixed, 0.0.3 just got released of babel-to-estree including the fix.

[2017-12-10 22:21] Raathigesh commented on #177
Sure. I'll do.

[2017-12-10 22:37] gagan0723 commented on #187
Solved in #172. Thanks

[2017-12-10 22:38] marcioj commented on #177
I did some debugging and this is what I think it could be:
When the Content.js file is changed I think this is how the dependency tree looks like:

[code]

The hot reload is updating just the left side, because `getParents` goes all the way up updating the components and then when it hits index.js it stops because the `module.hot.accept()`. This probably leaves the Home.js, where the Content compo

[2017-12-10 23:03] Raathigesh commented on #177
@marcioj You summarized it very well. That's my conclusion as well. I guess @devongovett would be able to shed some light on why we are returning `true` after `cached.hot._acceptCallback();`

[2017-12-10 23:11] mihailik commented on #192
To be clear on performance: in **certain cases** there's runtime win in bundling. Resolving a module requires several full-blown OS calls through kernel, FS drivers and back. Modules living in `node_modules` even more so: traversing FS trees, loading package.json etc. Bundling all modules in one file completely eliminates these low-level OS costs, at a price of parsing large file upfront.

Having

[2017-12-11 00:53] davidnagli commented on #186
Thanks for reporting this 😀

I'm currently trying to organize all of our open issues. Since this issue seems to be a duplicate of #, I'm gonna go ahead and close this issue.

If you think I've done so in error, please don't hesitate to re-open the issue or send me a message on slack.

[2017-12-11 00:53] #186 closed

[2017-12-11 01:44] davidnagli commented on #191
Works for me...

Steps taken to reproduce:
1. `parcel src/index.html`
2. open http://localhost:1234/
3. click the link

[191.zip](https://github.com/parcel-bundler/parcel/files/1546298/191.zip)

[2017-12-11 01:47] davidnagli commented on #167
@fathyb Are you running parcel via an npm script?

[2017-12-11 01:53] fathyb commented on #167
@davidnagli yes, I have `"build": "parcel src/main.js"` in my `scripts` and I run `yarn build`. Same with `$(yarn bin)/parcel src/main.js`

[2017-12-11 02:36] #187 closed

[2017-12-11 02:38] #137 closed

[2017-12-11 02:48] #168 closed

[2017-12-11 02:57] ollieSk8 commented on #40
just upgrade the node version to v8.9.3,can fix this problem.

[2017-12-11 03:05] kingdaro opened #194 "Apply babel plugins to typescript output"
**Choose one:** 🙋 feature request

### 🤔 Expected Behavior

Parcel should perform the transformation of TS files, then run the output through babel.

### 😯 Current Behavior

Parcel ignores .babelrc when using TS files.

### 💁 Possible Solution

Detect .babelrc in project, and if found, run babel on TS files.

### 🔦 Context

There are cases where I'd like to apply a babel plugin to the output of TS

[2017-12-11 03:06] #174 closed

[2017-12-11 03:20] xcatliu commented on #163
@davidnagli Is there a way to use the relative path instead of absolute path?
A common practice is to output the html, js and css to `public` dir, and host the `public` dir as the root dir.

[2017-12-11 03:29] steveblue commented on #149
The Angular example linked above uses an extremely old version of Angular when it was in beta.

[2017-12-11 03:33] xswei commented on #40
my node version is v6,  this issue was be fixed after upgrade to v8

[2017-12-11 03:46] ollieSk8 opened #196 "parcel bulid error"
**Choose one:** is this a 🐛 bug report or 🙋 feature request?
this a 🐛 bug

### 😯 Current Behavior
i am run **parcel bulid index.html -d build** and the terminal show error

`erver running at http://localhost:1234
🚨  Cannot find module '/Users/ollie/myspace/parcel/bulid' from '.'
    at /Users/ollie/.config/yarn/global/node_modules/browser-resolve/node_modules/resolve/lib/async.js:55:21
    at load

[2017-12-11 03:48] davidnagli commented on #196
Try `parcel bulid -d build index.html`

[2017-12-11 03:50] ollieSk8 commented on #196
@davidnagli

error angin

`parcel bulid -d build index.html
Server running at http://localhost:1234
🚨  Cannot find module '/Users/ollie/myspace/parcel/bulid' from '.'
    at /Users/ollie/.config/yarn/global/node_modules/browser-resolve/node_modules/resolve/lib/async.js:55:21
    at load (/Users/ollie/.config/yarn/global/node_modules/browser-resolve/node_modules/resolve/lib/async.js:69:43)
    at o

[2017-12-11 03:56] davidnagli commented on #196
Oh! You misspelled the word "build" 😇

[code]

[2017-12-11 03:56] #196 closed

[2017-12-11 04:04] ollieSk8 commented on #196
@davidnagli

another error

`parcel build index.html -d build
🚨  /Users/ollie/myspace/parcel/index.js: Cannot read property 'start' of undefined
    at module.exports (/Users/ollie/.config/yarn/global/node_modules/babel-to-estree/babylon-to-espree/attachComments.js:56:42)
    at module.exports (/Users/ollie/.config/yarn/global/node_modules/babel-to-estree/babylon-to-espree/index.js:35:3)
    at ex

[2017-12-11 04:12] davidnagli commented on #196
That’s a known error :)

Please see #8

[2017-12-11 04:15] ollieSk8 commented on #196
@davidnagli thx your patience

[2017-12-11 04:19] xgz123 commented on #189
I'd like to work on this feature.

[2017-12-11 04:34] devongovett commented on #141
why is `vertx` required if it isn't a dependency?

[2017-12-11 04:47] sbesh91 commented on #141
The original answer I got to this problem for my webpack solution came here.
https://github.com/webcomponents/webcomponentsjs/issues/794
I can't say vertx is a dependency of my app.

[2017-12-11 04:50] sudhakar commented on #188
@davidnagli Could you reopen this issue please. IMHO, its okie to not change hash during development build. But for production build, if hash doesnt change even when the content changes, then `Cache-Control` & `ETag` headers can not be effectively used.

In my case, I add `react.js`, `react-dom.js` etc on to a separate bundle `vendor.js`, which rarely changes. So I set it to cache for `1yr`. If I

[2017-12-11 04:57] devongovett commented on #188
the filenames are not currently generated based on the hash of contents. you could do something like versioning, e.g. http://mycdn.com/v1.0.0/somelib.js. when you publish a new version, the url will change.

[2017-12-11 05:09] sudhakar commented on #188
yes @devongovett thats a good idea. But it would be extra configuration to achieve cache busting. I am happy with current setup for now. But IMO, its nice to have it in the core, so users get cache busting for free!

[2017-12-11 05:13] jouni-kantola commented on #188
Why close an issue that clearly adds value if it would be fixed, @davidnagli?

From my point of view, hashes should always be based on content and long-term caching should be content based not release based.

[2017-12-11 05:14] devongovett commented on #188
one other reason this will be hard to change is that the filenames need to be generated before the entire contents of the file is available, since assets are processed in parallel.

[2017-12-11 05:16] rabbitmeow opened #198 "🐛 Uncaught Error: Cannot find module '[a number]'"
**index.html
styles.css
main.js
style-for-main.css**

### in index.html:
`<link rel='stylesheet' href='styles.css'>`
`<script src='main.js'></script>`

### in main.js:
`
import './style-for-main.css'
`

**_throw an error in browser_**

[2017-12-11 05:19] kingdaro commented on #194
My bad, it looks as though it already does apply babel to the transpiled output. Something must have changed when I last tried it. Never mind this, then.

[2017-12-11 05:19] #194 closed

[2017-12-11 05:23] davidnagli commented on #188
Sorry for closing the issue incorrectly. It was my understanding that this was Parcels expected behavior.

@devongovett So are we going to overhaul the caching system?

[2017-12-11 05:26] davidnagli commented on #198
Hi! Thanks for reporting this.

Can you please provide the actual error that you’re seeing in the browser, as well as your Node and Parcel version numbers.

[2017-12-11 05:28] davidnagli commented on #198
For future reference, please actually fill out the issue template :)

[2017-12-11 05:29] rabbitmeow commented on #198
**In browser**
Uncaught Error: Cannot find module '4'
    at newRequire (6723a4dcfb94ab73680250feba38b07f.js:32)
    at localRequire (6723a4dcfb94ab73680250feba38b07f.js:38)
    at Object.require.5._css_loader (6723a4dcfb94ab73680250feba38b07f.js:70)
    at newRequire (6723a4dcfb94ab73680250feba38b07f.js:46)
    at localRequire (6723a4dcfb94ab73680250feba38b07f.js:38)
    at Object.require.3../sty

[2017-12-11 05:32] rabbitmeow commented on #198
[bug.zip](https://github.com/parcel-bundler/parcel/files/1546635/bug.zip)

[2017-12-11 05:37] rabbitmeow commented on #198
Even more, Parcel wouldn't update the files when I remove the `import './style-for-main.css';`
I have got to restart Parcel to resolve it.

[2017-12-11 05:47] brandon93s commented on #198
@rabbitmeow do you mind providing your entire project directory? The attachment appears to be the `/dist` directory of your project.

[2017-12-11 05:52] ningbo16 commented on #105
didn‘t fix it even after upgrade node to v9.2.1

[2017-12-11 06:07] eeolqy commented on #5
vue文件类型怎么转换

[2017-12-11 06:10] davidnagli commented on #5
@eeolqy Please use English.

For anyone imtresred, according to google translate this means: “How to convert file types“. Which, does not belong on this issue thread

[2017-12-11 06:19] eeolqy commented on #5
sorry，i want to know the file type of vue how to convert

[2017-12-11 06:24] eeolqy opened #199 "vue"
import app from './app.vue'
console.log(app)
why app is string

[2017-12-11 06:25] brianleroux opened #200 "Adopt browser field in package.json ala browserify"
# 🙋 feature request

Adopt `browser` field in `package.json` ala browserify

### 🎛 Configuration`package.json`

Per https://github.com/browserify/browserify-handbook#browser-field

[code]

### 🤔 Expected Behavior

Clone the browserify feature precisely. This will make SSR much easier to do.

### 💚 Current Behavior
Current behavior defaults to assuming everything is being bundled for the browser on

[2017-12-11 06:26] shawwn commented on #199
Vue is not yet supported. We're actively working on it. Stay tuned.

On Mon, Dec 11, 2017 at 12:24 AM, Cappuccino <notifications@github.com>
wrote:

[2017-12-11 06:27] brandon93s commented on #199
See #5

[2017-12-11 06:27] #199 closed

[2017-12-11 06:29] eeolqy commented on #199
@shawwn ok
how long

[2017-12-11 06:33] devongovett commented on #200
We use [browser-resolve](https://github.com/defunctzombie/node-browser-resolve) which is the same module browserify uses for resolving so it should already work. Is it not for you?

[2017-12-11 06:37] fearclear commented on #198
I've had this problem, too. But when I delete that **.cache** and restart, it's working.

[2017-12-11 07:11] one-aalam commented on #149
Here's a `Vue` version! https://github.com/rohitkrai03/vue-parcel-example

But as stated, this is using CDN (not `import Vue from 'vue'`) due to https://github.com/parcel-bundler/parcel/issues/8

[2017-12-11 07:42] wqcstrong commented on #40
@xswei me,too! But do you know why?

[2017-12-11 07:46] wqcstrong commented on #105
@ningbo16 try to fix the node version to @8.x

[2017-12-11 07:49] wqcstrong commented on #105
@davidnagli Although I do not know the reason, but I update node to version @8.x just fine.Can the offical explain the problem at the right time? Good luck....

[2017-12-11 08:58] rabbitmeow commented on #198
I'm in class, talk to you guys later. 😅😅😅😭😭😭

[2017-12-11 09:49] DeMoorJasper commented on #191
I'll try reproducing it again and providing a test package @davidnagli

[2017-12-11 09:51] phobal commented on #40
i try it, since v7.0.0 to v7.9.0, it cannot run, but when I use v8.0.0, it done !, so, I guess parcel need Node version is greater than or equal to v8.0.0

[2017-12-11 09:57] wqcstrong commented on #40
@phobal But what results to the problem, I would like to konw the explaniation. It's all konwn that ```require``` is supported at the node @v6.x.x

[2017-12-11 10:00] shunia opened #202 "[TypeScript] `baseUrl` inside tsconfig.json not supporting."
🐛 bug report

### 🎛 Configuration (.babelrc, package.json, cli command)
`tsconfig.json`:
[code]

### 🤔 Expected Behavior
structure:
[code]
component/Custom.ts:
[code]
Main.ts:
[code]
console should show 'Hello!'

### 😯 Current Behavior
Running from shell:
[code]

### 💁 Possible Solution
  The compiler should read `tsconfig.json` file right, and understands that `baseUrl` has made the `from` part o

[2017-12-11 10:01] devindo opened #203 "how use postcss-sprites in parcel-bundler ?"
write postcss-sprites config  in .postcssrc file , but it is  useless.

plugins": {
    "autoprefixer": {
      "grid": true
    },
    "postcss-sprites":{
        "stylesheetPath":"./",
        "spritePath":"./dist/images/"
    }
  }

[2017-12-11 10:06] phobal commented on #40
@wqcstrong right. node 6.x was supported, however, it run in node V8 environment, in browser cannot support `require`

[2017-12-11 10:08] xswei commented on #40
@wqcstrong  @phobal  老铁  parcel只支持8以上版本，具体原因知道吗？

[2017-12-11 10:33] #8 closed

[2017-12-11 10:33] #15 closed

[2017-12-11 10:33] #124 closed

[2017-12-11 10:33] #145 closed

[2017-12-11 10:53] tonkotsuboy opened #205 "[TypeScript] Runtime error in IE 11"
🐛 bug report

### 🎛 Configuration (.babelrc, package.json, cli command)

`tsconfig.json :`

[code]

`Main.ts`

[code]

`index.js`

[code]

`index.html`

[code]

### 🤔 Expected Behavior
works in IE 11

### 😯 Current Behavior
does not works in IE 11

### 💁 Possible Solution

I guess arrow function in compiled code is the reason

[code]

https://github.com/parcel-bundler/parcel/blob/0ff76bea36135a4b1

[2017-12-11 11:00] xcatliu opened #206 "Is there a way to build html with relative assets url?"
**Choose one:** is this a 🐛 bug report or 🙋 feature request?

🙋 feature request

### 🤔 Expected Behavior

When exec `parcel build docs/index.html`, the generated html should have relative assets url, such as:

[code]

### 😯 Current Behavior

The url is an absolute path:

[code]

### 💁 Possible Solution

Is there a way to build html with relative assets url? Maybe some configuration?

### 🔦 Context

[2017-12-11 11:25] albinotonnina commented on #206
Yes, use --public-url when building:
check this PR: https://github.com/parcel-bundler/website/pull/30

[2017-12-11 11:50] emanuel-lundman commented on #202
Also, related, paths in tsconfig does not seem be resolving correctly..
Did a quick test run with a current project:
Result `index.tsx:15:24: Cannot resolve dependency '@client/store'`
tsconfig paths example:
[code]

[2017-12-11 11:54] azu commented on #205
It seems to be related with #169

[2017-12-11 11:57] rabbitmeow commented on #198
![url-source-code](https://user-images.githubusercontent.com/20941062/33830038-87bc1f0e-dead-11e7-9a56-c55bd97bd14f.png)

[2017-12-11 12:00] rabbitmeow commented on #198
![bug](https://user-images.githubusercontent.com/20941062/33830126-db6c69a6-dead-11e7-9cd9-25bfaaf16946.png)

[2017-12-11 12:32] DeMoorJasper commented on #191
Can't seem to reproduce it anymore guess it got fixed somewhere

[2017-12-11 12:32] #191 closed

[2017-12-11 12:33] abiduzz420 commented on #178
@devlux Thanks for sharing the update.

[2017-12-11 12:49] davidnagli commented on #105
@ningbo16 You seem to be the only one with this issue on a non-legacy Node version.

Can you please provide your Node and Parcel version numbers, as well as your operating system.

Also, please try to give me some steps to reproduce the issue, and post an example repo or upload a zip.

[2017-12-11 13:03] DeMoorJasper commented on #129
Questions regarding Svelte support should now be redirected to https://github.com/DeMoorJasper/parcel-plugin-svelte
Closing this off

[2017-12-11 13:03] #129 closed

[2017-12-11 13:24] #131 closed

[2017-12-11 13:26] tjenkinson opened #210 "Feature request: Support Optional Requires"
### 🤔 Expected Behavior
If there is a `require()` inside a try catch block this shouldn't prevent building if the module doesn't exist. Instead the require call should be replaced with throwing an error that the module doesn't exist.

E.g
[code]

### 😯 Current Behavior
Error when building
[code]

### 💁 Possible Solution
There should not be an error (maybe a warning), and the built output should be

[2017-12-11 13:36] garrydzeng opened #211 "🐛 Cannot resolve dependency when I use <a> tag with virtual path"
🐛 bug report

### 🎛 Configuration (.babelrc, package.json, cli command)

package.json
[code]
index.html
[code]
And run command:
[code]

### 🤔 Expected Behavior

No error

### 😯 Current Behavior

Thrown an error with message `Cannot resolve dependency './..\..\..\..\b'`

### 🌍 Your Environment

| Software         | Version(s)
| ---------------- | ----------
| Parcel           |  master branch
| Nod

[2017-12-11 13:38] fathyb commented on #202
Can someone make a simple reproduction repo triggering the error?

[2017-12-11 13:39] DeMoorJasper commented on #211
Will look into this

[2017-12-11 13:55] MIFind commented on #211
I have a bug as same as u. waiting for the resolved.

[2017-12-11 13:57] MarlBurroW commented on #5
+1 to handle .vue files out of the box.

[2017-12-11 14:11] davidnagli commented on #210
I feel like this would make more sense for dynamic imports

[2017-12-11 14:14] davidnagli commented on #211
Is this similar to #191?

[2017-12-11 14:16] erguotou520 commented on #93
The second issue was fixed in `0.0.3` with arg `--no-minify`. However the first issue about image `src` still exist.

[2017-12-11 14:17] davidnagli commented on #210
@devongovett Do dynamic imports support promise rejection via `.catch()`?

[2017-12-11 14:23] davidnagli commented on #93
Fixed in `master`, should start working for everybody once we release all the new changes :)

[2017-12-11 15:08] davidnagli opened #213 "[RFC] New Asset support via Plugins or Core?"
# 💬 RFC

Do you guys think support for new things should be added to the core, or via plugins?

Currently, we have a weird mix of both:
* `Svetle` support is via a plugin (thanks to @DeMoorJasper)
* `Stylus` is in the core
* `TypeScript` is in the core
* etc

What do you guys think?

To sum up what I heard in the slack:
* Perspective 1 - Keep the core lean, we should have a lean, minimal, and perf

[2017-12-11 15:13] DeMoorJasper commented on #211
Nah #191 had to do with something else, i'm not sure why it accured and guess it got fixed through a PR somewhere along the way

[2017-12-11 15:22] davidnagli commented on #205
Closed by #169 (merged)

[2017-12-11 15:22] #205 closed

[2017-12-11 15:24] baba43 opened #214 "[RFC] How to enable HMR (with preserving local state)"
Hi,

first let me tell you that I really appreciate this project and your efforts. Thanks.

One of the most annoying things to setup with Webpack is a properly working Hot Module Replacement. _Working properly_ means that components will keep their local state. Everything else makes HRM uselss (in my opinion).

However I could not get HRM to work with parcel until now. The documentation is not ver

[2017-12-11 15:24] lian-xiao-xi opened #215 "How to observe the changes in HTML and CSS, and then automatically refresh the browser ?"
#### How to observe HTML and CSS changes, and then automatically refresh the browser. Now only by observing the changes in JS to automatically refresh the browser

[2017-12-11 15:27] DeMoorJasper commented on #215
HTML updating should be inside the current github version, CSS updating is in an open PR here #128

[2017-12-11 15:31] davidnagli commented on #214
In my experience, HMR has always been working perfectly. It usually preserves all the local state.

Can you please setup an example repo so that we reproduce the issue?

[2017-12-11 15:36] albinotonnina commented on #214
This little example I did the day Parcel came out, ages ago, like 5 days, does that:
https://github.com/albinotonnina/hot-parcel-react

[2017-12-11 15:42] davidnagli commented on #214
Upon second review, I think you might need to wait for #204 to land… it fixes an issue we had where HMR wasn’t working on nested components.

[2017-12-11 15:45] davidnagli commented on #158
Closed via #159

[2017-12-11 15:45] #158 closed

[2017-12-11 15:49] DeMoorJasper commented on #215
duplicate of #57 duplicate of #90

[2017-12-11 15:49] #215 closed

[2017-12-11 15:51] davidnagli commented on #86
Is this still a problem after #197 got merged?

I think it should fix it, but I don’t have windows so I can’t test it.

[2017-12-11 16:04] lifeart commented on #86
@dannify what if this file not exists on build time (html file link) ?

[2017-12-11 16:10] baba43 commented on #214
@albinotonnina thanks for providing an example. First of all, I had to update parcel to the latest version to get it running at all. Not sure why this is, but I guess you would like to use the latest version, too.

Then, if I try to change anything within the App, hot loading does not work. Instead your alert gets fired and the app gets reloaded (with loosing state). I have added a more common exa

[2017-12-11 16:26] nakoo commented on #211
[code]
😡

[code]
😙

[2017-12-11 16:29] garrydzeng commented on #211
@nakoo I tried but still error.

[2017-12-11 16:34] davidnagli commented on #213
What are your guys’ thoughts?

[2017-12-11 16:35] palcisto commented on #105
Hello @shawwn, @davidnagli,

I just installed Parcel last night following the instructions on the [Getting Started](https://parceljs.org/getting_started.html) page, and I have run into the same issue. Before I tried some of the suggested solutions in this issue and in https://github.com/parcel-bundler/parcel/issues/40, I wanted to provide you all with a snapshot of my current situation to aid in t

[2017-12-11 16:37] dschnare commented on #213
And if asset types are indeed going to be part of core, a way to list them. I tried looking for TypeScript support and I didn't know it was in core until reading this issue.

[2017-12-11 16:37] devongovett commented on #177
moving to #204.

[2017-12-11 16:37] #177 closed

[2017-12-11 16:43] palcisto commented on #105
FYI, I just quickly switched over to node `v8.1.2` via `nvm`, installed `parcel-bundler` via yarn, and it works fine now with the same files.

![screen shot 2017-12-11 at 11 41 04 am](https://user-images.githubusercontent.com/48587/33842384-5d368638-de68-11e7-994a-5f09ada0278a.png)

Let me know if there is anything I can do to assist in troubleshooting and/or resolving the issue for node v6.x

[2017-12-11 16:50] devongovett commented on #111
moving to #164

[2017-12-11 16:50] #111 closed

[2017-12-11 16:50] palcisto commented on #105
@shawwn @davidnagli I just did some further testing on node `v9.2.1` and it worked with that. However, I tested node `v7.10.1` which is the latest of `v7.x` currently and I got the same error as I did on `v6.9.1`.

[2017-12-11 17:05] DeMoorJasper opened #217 "[RFC] Changelog"
# 💬 Changelog
We should probably think about keeping a Changelog, do you guys think we need one and how should it look/be generated.

Some possibilities
* [Standard version - generation/naming convention](https://github.com/conventional-changelog/standard-version)
* [Keep a Changelog - Standardisation](http://keepachangelog.com/en/1.0.0/)
* [Auto changelog - generation/naming convention](https://w

[2017-12-11 17:08] abiduzz420 commented on #178
@devlux Have you looked at Webpack, browserify source code on how they solve this problem ? Perhaps we can take inspiration from there. I will look into how this problem is solved by these. Do let me know if you've found something exciting 😄

[2017-12-11 17:32] davidnagli commented on #105
@palcisto Thank you so much for the detailed report!

I’ve been looking into this, with no luck so far. Do you think you can try to take a stab at it?

[2017-12-11 17:39] albinotonnina commented on #213
To elaborate more on that, I imagine something along the lines of:

- on

 Project Init, somewhere after my init command:

![choose](https://raw.githubusercontent.com/SBoudrias/Inquirer.js/HEAD/assets/screenshots/checkbox-prompt.png)

- Later on
`$ parcel supports jpg svg`

I would like this sort of granular control

[2017-12-11 17:47] albinotonnina commented on #214
@baba43 I will update the example ASAP. I noticed one thing actually, which I forgot to mention.
First change actually unmount components. From that moment on HMR works as expected.
Can you confirm this behaviour as well?

[2017-12-11 18:32] thejameskyle commented on #189
@xgz123 I'm assuming you didn't mean to close this? Do you want to add support for multiple entry points in Parcel?

[2017-12-11 18:37] thejameskyle commented on #210
I think we have to do this in order to support the existing ecosystem properly

[2017-12-11 18:51] thejameskyle commented on #217
Existing issue: #138

[2017-12-11 18:51] #217 closed

[2017-12-11 19:46] palcisto commented on #105
@davidnagli Yeah no problem, I'll see what I can find.

[2017-12-11 19:55] tjenkinson commented on #13
I've always understood that the 'main' property in package.json should point to an es5 build, so transpilation should not be necessary. Is this not the correct assumption?

[2017-12-11 19:59] brianleroux commented on #200
OMG, it does! I had the wrong paths DOH.

So sorry for the noise!

[2017-12-11 19:59] #200 closed

[2017-12-11 20:10] DeMoorJasper opened #219 "🐛 AppVeyor test HTML: should support bundling HTML fails"
🐛 bug report
On AppVeyor i can see this test is lately failing a lot.
[code]

### 🎛 Configuration (.babelrc, package.json, cli command)
AppVeyor config of this Repo

### 🤔 Expected Behavior
Should pass

### 😯 Current Behavior
Doesn't pass

[2017-12-11 20:39] jaredpalmer opened #220 "🙋 Support image meta tags"
# Feature Request

### 🤔 Expected Behavior

If I include a `<meta name="og:image" content="./cover.jpg">`, in an `index.html`, i'd expect that the source path gets properly updated after a successful build.

[code]

would become

[code]

### 😯 Current Behavior

meta tags with references to assets are not updated

### 🌍 Your Environment

| Software         | Version(s)
| ---------------- | --------

[2017-12-11 20:40] Edootjuh opened #221 "[Feature] Automatically detect safe-write"
### 🐛 Bug report

While the parcel dev server or the watcher is running, changes in a file are sent to the browser correctly, but only the first time I save changes in the file. The second time, parcel doesn't rebuild (there is no console output) and the module doesn't reload in the browser. Other files will still reload, but also only once.

Even when refreshing in the browser, the changes aren't

[2017-12-11 20:55] davidnagli commented on #221
I was able to reproduce this on Mac OS as well. However, the problem goes away when I remove `module.hot.accept`

[2017-12-11 20:56] Edootjuh commented on #221
That's weird. I just tried without `module.hot.accept`, and the problem is still there for me. (I've cleared the cache)

[2017-12-11 20:58] davidnagli commented on #221
Can you commit the new code (the code without `module.hot.accept`) to a new branch in your example repo?

[2017-12-11 21:02] Edootjuh commented on #221
I'd just changed the code in the example repo to remove `module.hot.accept` in the master branch before your first comment, so if you pull/reset again it should update

[2017-12-11 21:27] DeMoorJasper commented on #221
I can't seem to reproduce it in any way

[2017-12-11 21:28] sarahbethfederman commented on #8
I ran into this, so I'm just leaving a note here that if you're using yarn you may need to add this to your package.json to get the babel-to-estree fix:
[code]

[2017-12-11 21:33] DeMoorJasper commented on #8
Addition to comment above: You could also use the github version than it should use Uglify ES and babel generator and disregard babel-to-estree entirely

[2017-12-11 21:48] bcowgill opened #222 "Getting Started guide doesn't work."
🐛 bug report
Just following the Getting STarted page and am unable to get it to work.

### 🎛 Configuration (.babelrc, package.json, cli command)
[code]

### 🤔 Expected Behavior
I expected it to produce a console log in the browser

### 😯 Current Behavior
 react-parcel-test2.js:11 Uncaught ReferenceError: require is not defined

### 💁 Possible Solution

### 🔦 Context
unable to even try out the code

[2017-12-11 21:51] DeMoorJasper commented on #220
Any more meta tags you can think about that can contain assets?

[2017-12-11 21:52] bcowgill commented on #222
I just tried it with node v8+ and it's ok.  Might be good to put a minimum node version on the Getting Started Page.

[2017-12-11 22:06] Edootjuh commented on #221
I've done some poking around, and it seems like chokidar isn't firing `change` events for the subsequent edits in Bundler.js, but it does when I set `usePolling` to true. Obviously that isn't a fix, since that option results in poorer performance, but maybe that helps?

[2017-12-11 22:06] albinotonnina commented on #222
@bcowgill Hi Brent :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-11 22:29] brandon93s commented on #222
`engines` in  `package.json` current lists `>= 6.0.0`

We should update this as well if only 8+ is supported.

[2017-12-11 22:32] brandon93s commented on #222
However, I suspect we want to support 6.0.0. Babel is run on the src for consumers for this reason. We should look into fixing the issue and continuing to support 6+.

[2017-12-11 22:35] davidnagli commented on #222
Thanks for reporting this 😀

I'm currently trying to organize all of our open issues. Since this issue seems to be a duplicate of #40 , I'm gonna go ahead and close this issue.

If you think I've done so in error, please don't hesitate to re-open the issue,comment, or send me a message on slack.

[2017-12-11 22:35] #222 closed

[2017-12-11 22:46] Edootjuh commented on #221
I've found the problem. It had to do with the way many text editors write files, and is actually addressed by the webpack documentation: https://webpack.github.io/docs/webpack-dev-server.html#working-with-editors-ides-supporting-safe-write. To quote:

I suppose the reason I'd never had this problem before is because I'd always configured webpack to watch the _directory_ instead of individual files

[2017-12-11 22:49] davidnagli commented on #221
Wow thanks for hunting this down! I would have never figured that out.

Do you guys think we should add a warning about this in the documentation?

[2017-12-11 22:50] chipit24 commented on #13
There's no real requirement for what the `main` field should point to. There's some interesting info in the [rollup.js docs](https://github.com/rollup/rollup/wiki/pkg.module):

[2017-12-11 22:50] DeMoorJasper commented on #221
We should maybe add an option to the cli to enable polling for the people who have this activated in their IDE?
And document it

[2017-12-11 22:55] sarahbethfederman opened #225 "Documentation for args?"
**Choose one:** is this a 🐛 bug report or 🙋 feature request?
🙋

I see some comments on issues that add flags like `--no-minify`
Is there any documentation that details what's available as options? Would be nice! A simple table view would suffice

[2017-12-11 22:56] DeMoorJasper commented on #225
It's in a PR on the website repo https://github.com/parcel-bundler/website/pull/30

[2017-12-11 22:57] Edootjuh commented on #221
Personally, I think watching the directory would solve it completely (though I could be wrong), but in the meantime adding a warning and a cli flag for usePolling seem like good options to me.

[2017-12-11 22:59] DeMoorJasper commented on #221
isn't use polling poking the files every now and then?

[2017-12-11 22:59] davidnagli commented on #221
Is there a way to detect “safe write”? Maybe we can dynamically fallback to polling when we detect it.

[2017-12-12 00:32] jaredpalmer commented on #220
[code]

Source: https://github.com/joshbuchea/HEAD

[2017-12-12 00:53] brandon93s commented on #86
Tested against current master; this is _not_ fixed.

[2017-12-12 01:36] #117 closed

[2017-12-12 01:38] davidnagli commented on #225
Can we close this issue?

[2017-12-12 01:41] guilhermeasg commented on #40
Also bumped into this on Node 6.11. The first few lines of the generated file follow. Note the implicit global assignment in `require = function(...)`, which is the reason the error is thrown in strict mode. Manually deleting the `use strict` line, or using `var require = function...` prevents the error from being thrown, but the generated file actually never calls the `require` function.

[code]

[2017-12-12 01:45] #167 closed

[2017-12-12 01:52] #225 closed

[2017-12-12 01:52] sarahbethfederman commented on #225
thanks!

[2017-12-12 02:18] EduardoRFS commented on #192
Other obvious benefit of bundling, babel in dependencies, your package is running on AWS, with node 4 or 6, using babel to replace async / await by Bluebird generators give a huge boost performance

[2017-12-12 02:40] davidnagli commented on #105
Thanks for all the feedback and reports guys :)

Just as a reminder, most of what you guys are talking about belongs in issue #40, not here. Unless your bug involves `charset`, can you guys please use the other issue?

We’re **very** grateful for all the amazing feedback and help we’re getting from the community, but managing 200+ issues in the course of 48 hours is no easy task 😇

Understandably,

[2017-12-12 02:40] #105 closed

[2017-12-12 03:06] wqcstrong commented on #40
@xswei 上面的大佬大概说了导致报错的原因了 @guilhermeasg ：1、删除严格模式；2、```var```声明变量

[2017-12-12 03:19] wqcstrong commented on #40
@guilhermeasg Hey buddy,I have tried to find the semicolon you said in the complied file, but I did not find it  after reading what you said.

[2017-12-12 03:36] zzz6519003 commented on #5
how does webpack implement this

[2017-12-12 05:34] wqcstrong opened #229 "I tried to build a vue project with parcel and now fails……or said, I got some error"
I just tried to build a vue project and set the directory structure to be similar to the vue-cli generated project. And I got some error after just used vue-router function.
The error is:
[code]
Following is my directory structure :
[code]
In order to see more clearly, I wrote out part of the source code demo:
- index.html :
[code]
- src/main.js
[code]
- src/App.vue:
[code]
- router/index.js
[code

[2017-12-12 05:42] wqcstrong commented on #229
[error information](https://i.stack.imgur.com/ZdcXO.png)

[2017-12-12 05:43] wqcstrong commented on #229
错误截图：[error screenshots](https://i.stack.imgur.com/ZdcXO.png)

[2017-12-12 05:43] Ty3uK commented on #202
Yep, here we go:
https://github.com/Ty3uK/parcel-tsconfig-issue

[2017-12-12 05:52] erguotou520 commented on #229
哥，不是这么玩的，你不能直接`import .vue`文件

[2017-12-12 05:58] wqcstrong commented on #229
@erguotou520 那应该怎么做呢

[2017-12-12 05:59] wqcstrong commented on #229
@erguotou520 大佬可以加微信私聊一下吗

[2017-12-12 06:11] erguotou520 commented on #229
目前（应该还没有）还不支持`.vue`直接加载的方式，`vue`那边也在做[相关的工作](https://github.com/vuejs/vue-component-compiler/issues/28)，后续应该可以有支持。目前的做法是建议直接用`.js`文件，用render函数渲染